<a href="https://colab.research.google.com/github/Ravurumadhuri/Ravurumadhuri/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Types

In [ ]:
#int
num=5
print(type(num))
#float
num=0.5
print(type(num))
#string
num=" "
print(type(num))
num=True
print(type(num))
num="String"
print(type(num))
#list
num=[1,2,3]
print(type(num))
#tuple
num=(1,2,3)
print(type(num))
#set
num={1,2,3}
print(type(num))
a=5.6
b=int(a)
print(type(b))
b=5
c=float(b)
print(c)
#complex
k=6
c=complex(b,k)
print(c)
print(type(c))
#bool
a=6>1
print(a)
print(type(a))
a=7<1
print(a)
print(int(a))
#range
a=range(10)
print(type(a))
#dictionary

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'int'>
5.0
(5+6j)
<class 'complex'>
True
<class 'bool'>
False
0
<class 'range'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))
import random

print(random.randrange(1, 10))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
3

In [ ]:
#dictionary
d={1:'apple',2:'banana',3:'mango'}
print(type(d))
print(d[1])
print(d.values())
print(d.keys())
d.get(2)

<class 'dict'>
apple
dict_values(['apple', 'banana', 'mango'])
dict_keys([1, 2, 3])

'banana'

In [ ]:
#TypeCasting

In [ ]:
#int
x = print(int(1))
y = print(int(5.6))
z = print(int("3"))

1
5
3

In [ ]:
#float
a=print(float(3))
a=print(float("5"))
#string
a=print(str(3.0))
a=print(str(6))

3.0
5.0
3.0
6

In [ ]:
#operators of Python

In [ ]:
#Arithemtic Operators(+,-,*,%,/,**,//)
x=8
y=4
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x/y)
print(x**y)
print(x//y)

12
4
32
0
2.0
4096
2

In [ ]:
#Assignment Operators(=,+=,-=,*=,%=,/=,//=,**==,&=,|=,^=,>>=,<<==,:=)
x=7
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x%=3
print(x)
x=7
x/=3
print(x)
x=7
x//=3
print(x)
x=7
x**=3
print(x)
x=3
x&=3
print(x)
x|=3
print(x)
x^=3
print(x)
x>>=3
print(x)
x<<=3
print(x)

7
10
7
21
0
2.3333333333333335
2
343
3
3
0
0
0

In [ ]:
#comparison operators(==,!=,>,>=,<,<=)
x=6
y=7
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

False
True
True
True
False
False

In [ ]:
#lgical operators(and,or,not)
x=10
print(x<5 and x<11)
print(x<5 or x<11)
print(not(x<5 and x<11))#It reverse the result

False
True
True

In [ ]:
#identity operators(is,is not)
x=7
x=8
print(x is y)
print(x is not y)

False
True

In [ ]:
#membership operators(in,not in)
x=[1,2,3]
print(1 in x)
print(2 not in x)

True
False

In [ ]:
#bitwise operators(&,|,^,~,<<,>>)
x=3
y=2
print(x&y)
print(x|y)
print(x^y)
print(~x)
print(x<<2)
print(x>>2)

2
3
1
-4
12
0

Strings in python

In [ ]:
print("Hello")
print('Hello')
#Quotes Inside Quotes
print("Hii I'm Madhuri")
print("She is called 'Madhuri'")
print('she is called "Madhuri"')
#Assign string to a variable
a = "Hello"
print(a)
#Multiline Strings
a="""Iam Madhuri,
Iam 21 Years Old,
I have completed my Graduation."""
print(a)
#Strings are Arrays
a = "Iam Madhuri"
print(a[3])
print(a[5])
#Looping Through a String
for i in "Madhuri":
  print(i)
#String Length
a="Iam Madhuri"
print(len(a))
#Check string
txt="Iam Madhuri Ravuru"
print("Madhuri" in txt)
#using if
if "Iam" in txt:
  print("Iam in text")
  #using not in
print("Madhuri" not in txt)
#slicing
a="Iam Madhuri "
print(a[2:5])
#Slice From the Start
print(a[:5])
#Slice To the End
print(a[2:])
#negative slicing
print(a[-6:-1])
#Upper Case
print(a.upper())
print(a.lower())
#Remove space
print(a.strip())
#Replace String
print(a.replace("M","H"))
#Split String
print(a.split(" "))
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)
#Python - Format - Strings
#F-Strings
age = 21
txt = f"My name is Madhuri, I am {age}"
print(txt)
price = 59
txt = f"The price is {price} dollars"
print(txt)
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)
#Escape Character
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

Hello
Hello
Hii I'm Madhuri
She is called 'Madhuri'
she is called "Madhuri"
Hello
Iam Madhuri,
Iam 21 Years Old,
I have completed my Graduation.

a
M
a
d
h
u
r
i
11
True
Iam in text
False
m M
Iam M
m Madhuri
dhuri
IAM MADHURI
iam madhuri
Iam Madhuri
Iam Hadhuri
['Iam', 'Madhuri', '']
HelloWorld
My name is Madhuri, I am 21
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars
We are the so-called "Vikings" from the north.

#list

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
#List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
#List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
#Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
#Negative Indexing
list5 = ["apple", "banana", "cherry"]
print(list5[-1])
#Range of Indexes
list6 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list6[2:5])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])
#Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])
#Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
#Change Item Value
thislist = ["apple", "banana"]
thislist[1] = "blackcurrant"
print(thislist)
#Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
thislist = ["apple", "banana"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"watermelon")
print(thislist)
#Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
#insert of items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry']
3
banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list
['apple', 'blackcurrant']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon']
['apple', 'watermelon']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)#removes last item
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
#Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)
#Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]
apple
banana
cherry
apple
banana
cherry

In [ ]:
#Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
#List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)
#or
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)
newlist = [x for x in fruits if x != "apple"]
print(newlist)
newlist = [x for x in fruits]
print(newlist)
newlist = [x for x in range(10)]
print(newlist)
newlist = [x for x in range(10) if x < 5]
print(newlist)
newlist = [x.upper() for x in fruits]
print(newlist)
newlist = ['hello' for x in fruits]
print(newlist)
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)#sort the listin descending order

apple
banana
cherry
apple
banana
cherry
['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:



#Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
#Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)
#copy method
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
#using slice operator
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)
#joining of lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['Kiwi', 'Orange', 'banana', 'cherry']
['cherry', 'Kiwi', 'Orange', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

Tuple

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
#tuple length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))
#Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))
#access of items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
#negative indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
#Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])
#Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')
3
<class 'tuple'>
<class 'str'>
('abc', 34, True, 40, 'male')
<class 'tuple'>
banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple
('apple', 'kiwi', 'cherry')

In [ ]:
from typing import TypeGuard

#add items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)
#remove items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)
#Unpacking a tuple:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)
#Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)
#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('banana', 'cherry')
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Set

In [ ]:
# Empty set
s = set()
s1 = {1, 2, 3, 4, 5}
s2 = {"Madhuri", 25, True, 9.5}
print(s)
print(s1)
print(s2)
s = {1, 2, 3}
# Adding single element
s.add(4)
print(s)
# Adding multiple elements
s = {1, 2, 3}
s.update([5, 6, 7])
print(s)
# Removing elements
s = {1, 2, 3}
s.remove(2)
print(s)
s.discard(10)
print(s)
s = {1, 2, 3}
s.pop()
print(s)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
# Subset & Superset
print({1, 2}.issubset(a))
print(b.issuperset({3, 4}))
#set methods
s = {1, 2, 3, 4}
print(len(s))
print(max(s))
print(min(s))
print(sum(s))
print(3 in s)
s.clear()
# Union
print(a | b)
# Intersection
print(a & b)
# Difference
print(a - b)
# Symmetric Difference
print(a ^ b)
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
#pop
thisset={'apple','banana','cherry'}
x=thisset.pop()
print(x)
print(thisset)

set()
{1, 2, 3, 4, 5}
{25, 'Madhuri', True, 9.5}
{1, 2, 3, 4}
{1, 2, 3, 5, 6, 7}
{1, 3}
{1, 3}
{2, 3}
True
True
4
4
1
10
True
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
banana
cherry
apple
{'banana', 'cherry', 'apple', 'orange'}
{'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'mango'}
banana
{'cherry', 'apple'}

Dictionary

In [ ]:
d = {}
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
data = dict(id=101, branch="CSE")
#storing data
student = {}
student["name"] = "Madhuri"
student["age"] = 22
student["course"] = "CSE"
print(student)
#Dictionary Keys and Values
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
print(student.keys())
print(student.values())
print(student.items())
#Accessing Elements of Dictionaries
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
print(student["name"])
print(student.get("age"))
print(student.get("grade", "Not Available"))
#Dictionary Methods
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
student.update({"grade": "A"})
print(student)
student.pop("age")
print(student)
student.popitem()
print(student)
copy_student = student.copy()
print(copy_student)
student.clear()
#Dictionary Comprehension
squares = {x: x*x for x in range(1, 6)}
print(squares)
even_squares = {x: x*x for x in range(1, 11) if x % 2 == 0}
print(even_squares)
#Remove duplicate values
d = {"a": 1, "b": 2, "c": 1, "d": 3}
unique = {}
for k, v in d.items():
    if v not in unique.values():
        unique[k] = v
print(unique)
#Nested dictionary
students = {
    101: {"name": "Madhuri", "branch": "CSE", "marks": 90},
    102: {"name": "kamakshi", "branch": "ECE", "marks": 85}
}
print(students)
print(students[101]["marks"])
for x in students:
  print(x)
for x in students:
  print(students[x])
for x, y in students.items():
  print(x, y)
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)
#nested dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

{'name': 'Madhuri', 'age': 22, 'course': 'CSE'}
dict_keys(['name', 'age', 'course'])
dict_values(['Madhuri', 22, 'CSE'])
dict_items([('name', 'Madhuri'), ('age', 22), ('course', 'CSE')])
Madhuri
22
Not Available
{'name': 'Madhuri', 'age': 22, 'course': 'CSE', 'grade': 'A'}
{'name': 'Madhuri', 'course': 'CSE', 'grade': 'A'}
{'name': 'Madhuri', 'course': 'CSE'}
{'name': 'Madhuri', 'course': 'CSE'}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{'a': 1, 'b': 2, 'd': 3}
{101: {'name': 'Madhuri', 'branch': 'CSE', 'marks': 90}, 102: {'name': 'kamakshi', 'branch': 'ECE', 'marks': 85}}
90
101
102
{'name': 'Madhuri', 'branch': 'CSE', 'marks': 90}
{'name': 'kamakshi', 'branch': 'ECE', 'marks': 85}
101 {'name': 'Madhuri', 'branch': 'CSE', 'marks': 90}
102 {'name': 'kamakshi', 'branch': 'ECE', 'marks': 85}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Python conditional statements

In [ ]:
#if statement
x = 10
if x > 5:
    print("x is greater than 5")
#If-Else Statement
num = 7
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")
#if-elif-else statements
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
marks = 85
if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")
#ternary operator
num = 10
result = "Even" if num % 2 == 0 else "Odd"
print(result)
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
#and
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
#or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")
#not
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")
a = 33
b = 200

if b > a:
  pass

#nested if
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
#match statemet
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
#default value
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

x is greater than 5
Odd number
a and b are equal
Grade B
Even
a and b are equal
Both conditions are True
At least one of the conditions is True
a is NOT greater than b
Above ten,
and also above 20!
Thursday

 Loops in Python

In [ ]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1
#break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
#continue statement
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)
#the else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
1
2
3
2
4
5
6
1
2
3
4
5
i is no longer less than 6

python for loops

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
#looping through a string
for x in 'madhuri':
  print(x)
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)
for x in range(6):
  print(x)
print("---")
for x in range(2, 6):
  print(x)
print("---")
for x in range(2, 30, 3):
  print(x)
print("---")
for x in range(6):
  print(x)
else:
  print("Finally finished!")
print("---")
for x in range(6):
  print(x)
else:
  print("Finally finished!")
print("----")
#nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)
#enumerate
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)
#zip
names = ["Madhuri", "kamakshi","dhana","manasa"]
scores = [95, 90,50,60]
for name, score in zip(names, scores):
    print(name, score)

apple
banana
cherry
m
a
d
h
u
r
i
apple
banana
apple
0
1
2
3
4
5
---
2
3
4
5
---
2
5
8
11
14
17
20
23
26
29
---
0
1
2
3
4
5
Finally finished!
---
0
1
2
3
4
5
Finally finished!
----
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
0 apple
1 banana
2 cherry
Madhuri 95
kamakshi 90
dhana 50
manasa 60

List and Dictionaries comprehension

In [ ]:
#list comprehension
squares = [x**2 for x in range(5)]
print(squares)
#dict comprehension
squares = {x: x**2 for x in range(5)}
print(squares)
squares = {x: x*x for x in range(1, 6)}
print(squares)
even_squares = {x: x*x for x in range(1, 11) if x % 2 == 0}
print(even_squares)

[0, 1, 4, 9, 16]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

Functions

In [ ]:
#calling function
def greek():
  print("Hello")
greek()
#passing arguements
def name(fname):
  print("Hii",fname)
name("Madhuri")
#positional arguements
def student(name, age):
    print("Name:", name)
    print("Age:", age)
student("Madhuri", 22)
#keyword arguements
def addition(a,b):
  print(a+b)
addition(a=10,b=5)
addition(b=3,a=4)#order doesn't matter here
#variable length arguements
def greet(*names):
  print("Hello "+names[3])
greet("Madhuri","kamakshi","dhana","manasa")
#variable keyword length arguements
def name(**kid):
  print(kid['fname']+ " "+kid['lname'] )
name(fname='madhuri',lname='ravuru')
#return
def func(x):
  return x*x
func(5)
#passing functions as arguements
def names(name):
  return f"Hello,{name}"
def print_message(func):
  message=func("madhuri")
  print(message)
print_message(names)
#passing function in return
def outer():
  def inner():
    return "Hello"
  return inner
f=outer()
print(f())
#global and local variables
x=8#global
def my_funct(x):
  y=5#local
  return y*2
my_funct(x)
#recursion
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)
print(fact(10))

Hello
Hii Madhuri
Name: Madhuri
Age: 22
15
7
Hello manasa
madhuri ravuru
Hello,madhuri
Hello
3628800

Practice problems

Converting an integer into decimal

In [2]:
import decimal
integer=123.5
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

123.5
<class 'decimal.Decimal'>

Converting an integer into decimal

In [5]:
import decimal
string='12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

12345
<class 'decimal.Decimal'>

Reverse a string

In [6]:
str='Madhuri'
print(str[::-1])

iruhdaM

Count vowels

In [9]:
vowels='aeiou'
word='madhuri'
count=0
for character in word:
  if character in vowels:
    count+=1
    print(character)
print(count)

a
u
i
3

count consonants

In [10]:
vowels='aeiou'
word='madhuri'
count=0
for character in word:
  if character not in vowels:
    count+=1
    print(character)
print(count)

m
d
h
r
4

Number of occureneces of a character in a string

In [11]:
string="i love programming"
character="m"
count=0
for i in string:
  if i==character:
    count+=1
print(count)

2

Fibonacci

In [13]:
n=10
a,b=0,1
for i in range(n):
  print(a)
  a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

find max number in a list

In [3]:
numberlist=[20,30,33,12,32,43,56,43]
max=numberlist[0]
for num in numberlist:
  if max<num:
    max=num
print(max)

56

find min number in a list

In [4]:
numberlist=[20,30,33,12,32,43,56,43]
min=numberlist[0]
for num in numberlist:
  if min>num:
    min=num
print(min)

12

find middle element in a list

In [11]:
numlist=[12,34,56,78,90,23,45,50]
middleElement=int(len(numlist)/2)
print(numlist[middleElement])

90

Coverting list into a string

In [14]:
list1=["m",'a','d','h','u','r','i']
string="".join(list1)
print(string)
print(type(string))

madhuri
<class 'str'>

Adding two lists

In [15]:
list1=[1,2,3]
list2=[4,5,6]
newlist=list1+list2
print(newlist)

[1, 2, 3, 4, 5, 6]

Anagram

In [17]:
str1="listen"
str2="Silent"
str1=str1.upper()
str2=str2.upper()
if sorted(str1)==sorted(str2):
  print("Anagram")
else:
  print("Not Anagram")

Anagram

Palindrome

In [18]:
str1='madam'.lower()
if str1==str1[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

palindrome

count spaces

In [19]:
string="m a dhu ri"
print(string.count(" "))

3

counting letters,digits and spaces

In [22]:
txt="My name is Madhuri and I am 22 years old."
letters=digits=spaces=0
for char in txt:
  if char.isalpha():
    letters+=1
  elif char.isdigit():
    digits+=1
  elif char.isspace():
    spaces+=1
print(f"Letters:{letters}")
print(f"Digits:{digits}")
print(f"Spaces:{spaces}")

Letters:29
Digits:2
Spaces:9

counting special characters in a string

In [27]:
txt="#madhuri#@$%"
special=0
for ch in txt:
    if not ch.isalnum() and not ch.isspace():
        special += 1
print(special)

5