<a href="https://colab.research.google.com/github/Ravurumadhuri/Ravurumadhuri/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Data Types

In [ ]:
#int
num=5
print(type(num))
#float
num=0.5
print(type(num))
#string
num=" "
print(type(num))
num=True
print(type(num))
num="String"
print(type(num))
#list
num=[1,2,3]
print(type(num))
#tuple
num=(1,2,3)
print(type(num))
#set
num={1,2,3}
print(type(num))
a=5.6
b=int(a)
print(type(b))
b=5
c=float(b)
print(c)
#complex
k=6
c=complex(b,k)
print(c)
print(type(c))
#bool
a=6>1
print(a)
print(type(a))
a=7<1
print(a)
print(int(a))
#range
a=range(10)
print(type(a))
#dictionary

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'int'>
5.0
(5+6j)
<class 'complex'>
True
<class 'bool'>
False
0
<class 'range'>

In [ ]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))
import random

print(random.randrange(1, 10))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
3

In [ ]:
#dictionary
d={1:'apple',2:'banana',3:'mango'}
print(type(d))
print(d[1])
print(d.values())
print(d.keys())
d.get(2)

<class 'dict'>
apple
dict_values(['apple', 'banana', 'mango'])
dict_keys([1, 2, 3])

'banana'

In [ ]:
#TypeCasting

In [ ]:
#int
x = print(int(1))
y = print(int(5.6))
z = print(int("3"))

1
5
3

In [ ]:
#float
a=print(float(3))
a=print(float("5"))
#string
a=print(str(3.0))
a=print(str(6))

3.0
5.0
3.0
6

In [ ]:
#operators of Python

In [ ]:
#Arithemtic Operators(+,-,*,%,/,**,//)
x=8
y=4
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x/y)
print(x**y)
print(x//y)

12
4
32
0
2.0
4096
2

In [ ]:
#Assignment Operators(=,+=,-=,*=,%=,/=,//=,**==,&=,|=,^=,>>=,<<==,:=)
x=7
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x%=3
print(x)
x=7
x/=3
print(x)
x=7
x//=3
print(x)
x=7
x**=3
print(x)
x=3
x&=3
print(x)
x|=3
print(x)
x^=3
print(x)
x>>=3
print(x)
x<<=3
print(x)

7
10
7
21
0
2.3333333333333335
2
343
3
3
0
0
0

In [ ]:
#comparison operators(==,!=,>,>=,<,<=)
x=6
y=7
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

False
True
True
True
False
False

In [ ]:
#lgical operators(and,or,not)
x=10
print(x<5 and x<11)
print(x<5 or x<11)
print(not(x<5 and x<11))#It reverse the result

False
True
True

In [ ]:
#identity operators(is,is not)
x=7
x=8
print(x is y)
print(x is not y)

False
True

In [ ]:
#membership operators(in,not in)
x=[1,2,3]
print(1 in x)
print(2 not in x)

True
False

In [ ]:
#bitwise operators(&,|,^,~,<<,>>)
x=3
y=2
print(x&y)
print(x|y)
print(x^y)
print(~x)
print(x<<2)
print(x>>2)

2
3
1
-4
12
0

Strings in python

In [ ]:
print("Hello")
print('Hello')
#Quotes Inside Quotes
print("Hii I'm Madhuri")
print("She is called 'Madhuri'")
print('she is called "Madhuri"')
#Assign string to a variable
a = "Hello"
print(a)
#Multiline Strings
a="""Iam Madhuri,
Iam 21 Years Old,
I have completed my Graduation."""
print(a)
#Strings are Arrays
a = "Iam Madhuri"
print(a[3])
print(a[5])
#Looping Through a String
for i in "Madhuri":
  print(i)
#String Length
a="Iam Madhuri"
print(len(a))
#Check string
txt="Iam Madhuri Ravuru"
print("Madhuri" in txt)
#using if
if "Iam" in txt:
  print("Iam in text")
  #using not in
print("Madhuri" not in txt)
#slicing
a="Iam Madhuri "
print(a[2:5])
#Slice From the Start
print(a[:5])
#Slice To the End
print(a[2:])
#negative slicing
print(a[-6:-1])
#Upper Case
print(a.upper())
print(a.lower())
#Remove space
print(a.strip())
#Replace String
print(a.replace("M","H"))
#Split String
print(a.split(" "))
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)
#Python - Format - Strings
#F-Strings
age = 21
txt = f"My name is Madhuri, I am {age}"
print(txt)
price = 59
txt = f"The price is {price} dollars"
print(txt)
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)
#Escape Character
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

Hello
Hello
Hii I'm Madhuri
She is called 'Madhuri'
she is called "Madhuri"
Hello
Iam Madhuri,
Iam 21 Years Old,
I have completed my Graduation.

a
M
a
d
h
u
r
i
11
True
Iam in text
False
m M
Iam M
m Madhuri
dhuri
IAM MADHURI
iam madhuri
Iam Madhuri
Iam Hadhuri
['Iam', 'Madhuri', '']
HelloWorld
My name is Madhuri, I am 21
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars
We are the so-called "Vikings" from the north.

#list

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
#List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
#List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
#Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
#Negative Indexing
list5 = ["apple", "banana", "cherry"]
print(list5[-1])
#Range of Indexes
list6 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list6[2:5])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])
#Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])
#Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
#Change Item Value
thislist = ["apple", "banana"]
thislist[1] = "blackcurrant"
print(thislist)
#Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
thislist = ["apple", "banana"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"watermelon")
print(thislist)
#Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
#insert of items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry']
3
banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list
['apple', 'blackcurrant']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon']
['apple', 'watermelon']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)#removes last item
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
#Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)
#Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]
apple
banana
cherry
apple
banana
cherry

In [ ]:
#Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
#List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)
#or
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)
newlist = [x for x in fruits if x != "apple"]
print(newlist)
newlist = [x for x in fruits]
print(newlist)
newlist = [x for x in range(10)]
print(newlist)
newlist = [x for x in range(10) if x < 5]
print(newlist)
newlist = [x.upper() for x in fruits]
print(newlist)
newlist = ['hello' for x in fruits]
print(newlist)
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)#sort the listin descending order

apple
banana
cherry
apple
banana
cherry
['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:



#Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
#Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)
#copy method
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
#using slice operator
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)
#joining of lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['Kiwi', 'Orange', 'banana', 'cherry']
['cherry', 'Kiwi', 'Orange', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

Tuple

In [ ]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
#tuple length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))
#Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))
#access of items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
#negative indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
#Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])
#Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
#Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')
3
<class 'tuple'>
<class 'str'>
('abc', 34, True, 40, 'male')
<class 'tuple'>
banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple
('apple', 'kiwi', 'cherry')

In [ ]:
from typing import TypeGuard

#add items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)
#remove items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)
#Unpacking a tuple:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)
#Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)
#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')
('banana', 'cherry')
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Set

In [ ]:
# Empty set
s = set()
s1 = {1, 2, 3, 4, 5}
s2 = {"Madhuri", 25, True, 9.5}
print(s)
print(s1)
print(s2)
s = {1, 2, 3}
# Adding single element
s.add(4)
print(s)
# Adding multiple elements
s = {1, 2, 3}
s.update([5, 6, 7])
print(s)
# Removing elements
s = {1, 2, 3}
s.remove(2)
print(s)
s.discard(10)
print(s)
s = {1, 2, 3}
s.pop()
print(s)
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
# Subset & Superset
print({1, 2}.issubset(a))
print(b.issuperset({3, 4}))
#set methods
s = {1, 2, 3, 4}
print(len(s))
print(max(s))
print(min(s))
print(sum(s))
print(3 in s)
s.clear()
# Union
print(a | b)
# Intersection
print(a & b)
# Difference
print(a - b)
# Symmetric Difference
print(a ^ b)
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)
#pop
thisset={'apple','banana','cherry'}
x=thisset.pop()
print(x)
print(thisset)

set()
{1, 2, 3, 4, 5}
{25, 'Madhuri', True, 9.5}
{1, 2, 3, 4}
{1, 2, 3, 5, 6, 7}
{1, 3}
{1, 3}
{2, 3}
True
True
4
4
1
10
True
{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}
banana
cherry
apple
{'banana', 'cherry', 'apple', 'orange'}
{'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'mango'}
banana
{'cherry', 'apple'}

Dictionary

In [ ]:
d = {}
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
data = dict(id=101, branch="CSE")
#storing data
student = {}
student["name"] = "Madhuri"
student["age"] = 22
student["course"] = "CSE"
print(student)
#Dictionary Keys and Values
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
print(student.keys())
print(student.values())
print(student.items())
#Accessing Elements of Dictionaries
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
print(student["name"])
print(student.get("age"))
print(student.get("grade", "Not Available"))
#Dictionary Methods
student = {"name": "Madhuri", "age": 22, "course": "CSE"}
student.update({"grade": "A"})
print(student)
student.pop("age")
print(student)
student.popitem()
print(student)
copy_student = student.copy()
print(copy_student)
student.clear()
#Dictionary Comprehension
squares = {x: x*x for x in range(1, 6)}
print(squares)
even_squares = {x: x*x for x in range(1, 11) if x % 2 == 0}
print(even_squares)
#Remove duplicate values
d = {"a": 1, "b": 2, "c": 1, "d": 3}
unique = {}
for k, v in d.items():
    if v not in unique.values():
        unique[k] = v
print(unique)
#Nested dictionary
students = {
    101: {"name": "Madhuri", "branch": "CSE", "marks": 90},
    102: {"name": "kamakshi", "branch": "ECE", "marks": 85}
}
print(students)
print(students[101]["marks"])
for x in students:
  print(x)
for x in students:
  print(students[x])
for x, y in students.items():
  print(x, y)
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)
#nested dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

{'name': 'Madhuri', 'age': 22, 'course': 'CSE'}
dict_keys(['name', 'age', 'course'])
dict_values(['Madhuri', 22, 'CSE'])
dict_items([('name', 'Madhuri'), ('age', 22), ('course', 'CSE')])
Madhuri
22
Not Available
{'name': 'Madhuri', 'age': 22, 'course': 'CSE', 'grade': 'A'}
{'name': 'Madhuri', 'course': 'CSE', 'grade': 'A'}
{'name': 'Madhuri', 'course': 'CSE'}
{'name': 'Madhuri', 'course': 'CSE'}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{'a': 1, 'b': 2, 'd': 3}
{101: {'name': 'Madhuri', 'branch': 'CSE', 'marks': 90}, 102: {'name': 'kamakshi', 'branch': 'ECE', 'marks': 85}}
90
101
102
{'name': 'Madhuri', 'branch': 'CSE', 'marks': 90}
{'name': 'kamakshi', 'branch': 'ECE', 'marks': 85}
101 {'name': 'Madhuri', 'branch': 'CSE', 'marks': 90}
102 {'name': 'kamakshi', 'branch': 'ECE', 'marks': 85}
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

Python conditional statements

In [ ]:
#if statement
x = 10
if x > 5:
    print("x is greater than 5")
#If-Else Statement
num = 7
if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")
#if-elif-else statements
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
marks = 85
if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 50:
    print("Grade C")
else:
    print("Fail")
#ternary operator
num = 10
result = "Even" if num % 2 == 0 else "Odd"
print(result)
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
#and
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")
#or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")
#not
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")
a = 33
b = 200

if b > a:
  pass

#nested if
x = 41
if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")
#match statemet
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
#default value
day = 4
match day:
  case 6:
    print("Today is Saturday")
  case 7:
    print("Today is Sunday")
  case _:
    print("Looking forward to the Weekend")

x is greater than 5
Odd number
a and b are equal
Grade B
Even
a and b are equal
Both conditions are True
At least one of the conditions is True
a is NOT greater than b
Above ten,
and also above 20!
Thursday

 Loops in Python

In [ ]:
#while loop
i = 1
while i < 6:
  print(i)
  i += 1
#break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1
#continue statement
i=1
while i<6:
  i+=1
  if i==3:
    continue
  print(i)
#the else statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
1
2
3
2
4
5
6
1
2
3
4
5
i is no longer less than 6

python for loops

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
#looping through a string
for x in 'madhuri':
  print(x)
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)
for x in range(6):
  print(x)
print("---")
for x in range(2, 6):
  print(x)
print("---")
for x in range(2, 30, 3):
  print(x)
print("---")
for x in range(6):
  print(x)
else:
  print("Finally finished!")
print("---")
for x in range(6):
  print(x)
else:
  print("Finally finished!")
print("----")
#nested loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x, y)
#enumerate
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)
#zip
names = ["Madhuri", "kamakshi","dhana","manasa"]
scores = [95, 90,50,60]
for name, score in zip(names, scores):
    print(name, score)

apple
banana
cherry
m
a
d
h
u
r
i
apple
banana
apple
0
1
2
3
4
5
---
2
3
4
5
---
2
5
8
11
14
17
20
23
26
29
---
0
1
2
3
4
5
Finally finished!
---
0
1
2
3
4
5
Finally finished!
----
red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry
0 apple
1 banana
2 cherry
Madhuri 95
kamakshi 90
dhana 50
manasa 60

List and Dictionaries comprehension

In [ ]:
#list comprehension
squares = [x**2 for x in range(5)]
print(squares)
#dict comprehension
squares = {x: x**2 for x in range(5)}
print(squares)
squares = {x: x*x for x in range(1, 6)}
print(squares)
even_squares = {x: x*x for x in range(1, 11) if x % 2 == 0}
print(even_squares)

[0, 1, 4, 9, 16]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

Functions

In [ ]:
#calling function
def greek():
  print("Hello")
greek()
#passing arguements
def name(fname):
  print("Hii",fname)
name("Madhuri")
#positional arguements
def student(name, age):
    print("Name:", name)
    print("Age:", age)
student("Madhuri", 22)
#keyword arguements
def addition(a,b):
  print(a+b)
addition(a=10,b=5)
addition(b=3,a=4)#order doesn't matter here
#variable length arguements
def greet(*names):
  print("Hello "+names[3])
greet("Madhuri","kamakshi","dhana","manasa")
#variable keyword length arguements
def name(**kid):
  print(kid['fname']+ " "+kid['lname'] )
name(fname='madhuri',lname='ravuru')
#return
def func(x):
  return x*x
func(5)
#passing functions as arguements
def names(name):
  return f"Hello,{name}"
def print_message(func):
  message=func("madhuri")
  print(message)
print_message(names)
#passing function in return
def outer():
  def inner():
    return "Hello"
  return inner
f=outer()
print(f())
#global and local variables
x=8#global
def my_funct(x):
  y=5#local
  return y*2
my_funct(x)
#recursion
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)
print(fact(10))

Hello
Hii Madhuri
Name: Madhuri
Age: 22
15
7
Hello manasa
madhuri ravuru
Hello,madhuri
Hello
3628800

Practice problems

Converting an integer into decimal

In [ ]:
import decimal
integer=123.5
print(decimal.Decimal(integer))
print(type(decimal.Decimal(integer)))

123.5
<class 'decimal.Decimal'>

Converting an integer into decimal

In [ ]:
import decimal
string='12345'
print(decimal.Decimal(string))
print(type(decimal.Decimal(string)))

12345
<class 'decimal.Decimal'>

Reverse a string

In [ ]:
str='Madhuri'
print(str[::-1])

iruhdaM

Count vowels

In [ ]:
vowels='aeiou'
word='madhuri'
count=0
for character in word:
  if character in vowels:
    count+=1
    print(character)
print(count)

a
u
i
3

count consonants

In [ ]:
vowels='aeiou'
word='madhuri'
count=0
for character in word:
  if character not in vowels:
    count+=1
    print(character)
print(count)

m
d
h
r
4

Number of occureneces of a character in a string

In [ ]:
string="i love programming"
character="m"
count=0
for i in string:
  if i==character:
    count+=1
print(count)

2

Fibonacci

In [ ]:
n=10
a,b=0,1
for i in range(n):
  print(a)
  a,b=b,a+b

0
1
1
2
3
5
8
13
21
34

find max number in a list

In [ ]:
numberlist=[20,30,33,12,32,43,56,43]
max=numberlist[0]
for num in numberlist:
  if max<num:
    max=num
print(max)

56

find min number in a list

In [ ]:
numberlist=[20,30,33,12,32,43,56,43]
min=numberlist[0]
for num in numberlist:
  if min>num:
    min=num
print(min)

12

find middle element in a list

In [ ]:
numlist=[12,34,56,78,90,23,45,50]
middleElement=int(len(numlist)/2)
print(numlist[middleElement])

90

Coverting list into a string

In [ ]:
list1=["m",'a','d','h','u','r','i']
string="".join(list1)
print(string)
print(type(string))

madhuri
<class 'str'>

Adding two lists

In [ ]:
list1=[1,2,3]
list2=[4,5,6]
newlist=list1+list2
print(newlist)

[1, 2, 3, 4, 5, 6]

Anagram

In [ ]:
str1="listen"
str2="Silent"
str1=str1.upper()
str2=str2.upper()
if sorted(str1)==sorted(str2):
  print("Anagram")
else:
  print("Not Anagram")

Anagram

Palindrome

In [ ]:
str1='madam'.lower()
if str1==str1[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

palindrome

count spaces

In [ ]:
string="m a dhu ri"
print(string.count(" "))

3

counting letters,digits and spaces

In [ ]:
txt="My name is Madhuri and I am 22 years old."
letters=digits=spaces=0
for char in txt:
  if char.isalpha():
    letters+=1
  elif char.isdigit():
    digits+=1
  elif char.isspace():
    spaces+=1
print(f"Letters:{letters}")
print(f"Digits:{digits}")
print(f"Spaces:{spaces}")

Letters:29
Digits:2
Spaces:9

counting special characters in a string

In [ ]:
txt="#madhuri#@$%"
special=0
for ch in txt:
    if not ch.isalnum() and not ch.isspace():
        special += 1
print(special)

5

Removing white spaces

In [ ]:
 txt="Mad huri Ra vu ru"
 new=txt.replace(" ","")
 print(new)

MadhuriRavuru

pyramid

In [ ]:
rows=5
for i in range(1,rows+1):
  print(" "*(rows-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********

Rhombus shaped pyramid

In [ ]:
rows=5
for i in range(1,rows+1):
  print(" "*(rows-i)+"*"*(2*i-1))
for j in range(rows-1,0,-1):
  print(" "*(rows-j)+"*"*(2*j-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Randomizing the items in a list

In [ ]:
from random import shuffle
lst=["madhuri",1,5,6,"apple",5,'a']
shuffle(lst)
print(lst)

['a', 1, 5, 6, 'apple', 5, 'madhuri']

prime generator

In [ ]:
def prime_generator(n):
  for num in range(2,n+1):
    count=0
    for i in range(2,num):
      if num%i==0:
        count+=1
        break
    if count==0:
      print(num)
prime_generator(5)

2
3
5

Implementing variable length arguements

In [ ]:
def average(*n):
  result=sum(n)/len(n)
  return result
result1=average(2,3,4,5,6)
result2=average(7,8,9,6,5,5)
print(result1)
print(result2)

4.0
6.666666666666667

Convert kilometers to miles

In [ ]:
kilometers=float(input("kilometers:"))
Conversion=0.621371
miles=kilometers*Conversion
print('miles:',miles)

kilometers:20
miles: 12.42742

Convert celcius to fahrenheit

In [ ]:
celcuis=float(input("celcius:"))
fahrenheit=(celcuis*9/5)+32
print('fahrenheit:',fahrenheit)

celcius:37
fahrenheit: 98.6

print calender

In [ ]:
import calendar
year=int(input("year:"))
month=int(input("month:"))
calender=calendar.month(year,month)
print(calender)

year:2025
month:10
    October 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

quadratic equation

In [ ]:
import math
a=int(input("a:"))
b=int(input("b:"))
c=int(input("c:"))
d=b**2-4*a*c
if d>0:
  root1=(-b+math.sqrt(d))/2*a
  root2=(-b-math.sqrt(d))/2*a
  print(f"root1:{root1}")
  print(f"root2:{root2}")
elif d==0:
  root=-b/(2*a)
  print(f"root:{root}")
else:
  real_part=-b/(2*a)
  imaginary_part=math.sqrt(-d)/(2*a)
  print(f"root1:{real_part}+{imaginary_part}i")
  print(f"root2:{real_part}-{imaginary_part}i")

a:12
b:6
c:3
root1:-0.25+0.43301270189221935i
root2:-0.25-0.43301270189221935i

swapping without third variable

In [ ]:
a=int(input("a:"))
b=int(input("b:"))
a,b=b,a
print("After swapping:")
print("a:",a)
print("b:",b)

a:10
b:20
After swapping:
a: 20
b: 10

leap year

In [ ]:
year=int(input("year:"))
if(year%400==0) and (year%100==0):
  print("leap year")
elif (year%4==0) and (year%100!=0):
  print("leap year")
else:
  print("not a leap year")
year=int(input("year:"))
if(year%400==0) and (year%100==0):
  print("leap year")
elif (year%4==0) and (year%100!=0):
  print("leap year")
else:
  print("not a leap year")

year:2004
leap year
year:2025
not a leap year

Check for prime number

In [ ]:
n=int(input("entr a number:"))
if n>1:
  for i in range(2,n):
    if n%i==0:
      print("not a prime number")
      break
  else:
    print("prime number")
else:
  print("not a prime number")

entr a number:5
prime number

prime with in a range

In [ ]:
start=int(input("start:"))
end=int(input("end:"))
for num in range(start,end+1):
  if num>1:
    for i in range(2,num):
      if num%i==-0:
        break
    else:
      print(num)

start:5
end:20
5
7
11
13
17
19

factorial

In [ ]:
n = int(input("Enter a number: "))
fact = 1

for i in range(1, n + 1):
    fact *= i

print("Factorial:", fact)

Enter a number: 0
Factorial: 1

In [ ]:
def factorial(n):
  if n==0:
    return 1
  for i in range(1,n+1):
    return n*factorial(n-1)
factorial(1)

1

Multiplication table

In [ ]:
num=float(input("Enter a number:"))
for i in range(1,11):
  print(f"{num} X {i} = {num*i}")

Enter a number:2.5
2.5 X 1 = 2.5
2.5 X 2 = 5.0
2.5 X 3 = 7.5
2.5 X 4 = 10.0
2.5 X 5 = 12.5
2.5 X 6 = 15.0
2.5 X 7 = 17.5
2.5 X 8 = 20.0
2.5 X 9 = 22.5
2.5 X 10 = 25.0

Fibonacci series

In [ ]:
number=int(input("Enter a number:"))
a,b=0,1
for i in range(number):
  print(a)
  a,b=b,a+b

Enter a number:5
0
1
1
2
3

Check for amstrong number

In [ ]:
n=int(input("Enter a number:"))
power=len(str(n))
sum=0
temp=n
while temp>0:
  digit=temp%10
  sum+=digit**power
  temp//=10
if sum==n:
  print("amstrong number")
else:
  print("not an amstrong number")

Enter a number:153
amstrong number

amstrong nuber in a given range

In [ ]:
start=int(input("Enter a start number:"))
end=int(input("Enter a end number:"))
for num in range(start,end+1):
  power=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit**power
    temp//=10
  if num==sum:
    print(num)

Enter a start number:100
Enter a end number:1000
153
370
371
407

sum of natural numbers

In [ ]:
 num=int(input("enter a number:"))
 sum=0
 for i in range(1,num+1):
  sum+=i
print("sum:",sum)

enter a number:10
sum: 55

lcd

In [ ]:
import math
a=int(input("enter first number:"))
b=int(input("enter second number"))
lcd=a*b//math.gcd(a,b)
print("lcd:",lcd)

enter first number:12
enter second number16
lcd: 48

HCF

In [ ]:
import math
a=int(input("enter first number:"))
b=int(input("enter second number"))
hcf=math.gcd(a,b)
print("hcf:",hcf)

enter first number: 12
enter second number36
hcf: 12

decimal number to binary,hexadecimal,octal

In [ ]:
decimal=float(input("enter a decimal number:"))
integer_part=int(decimal)
print("binary is : ",bin(integer_part)[2:])
print("hexadecimal is : ",hex(integer_part)[2:].upper())
print("octal is : ",oct(integer_part)[2:])

enter a decimal number:30
binary is :  11110
hexadecimal is :  1E
octal is :  36

ASCII Value

In [ ]:
char = input("Enter the character: ")
print("The ASCII value of '" + char + "' is", ord(char))
char = input("Enter the character: ")
print("The ASCII value of '" + char + "' is", ord(char))

Enter the character: A
The ASCII value of 'A' is 65
Enter the character: 2
The ASCII value of '2' is 50

simple calculator

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")

if op == '+':
    print(a + b)
elif op == '-':
    print(a - b)
elif op == '*':
    print(a * b)
elif op == '/':
    print(a / b)
else:
    print("Invalid operation")

Enter first number: 20
Enter second number: 30
Enter operation (+, -, *, /): *
600.0

Fibonacci using Recursion

In [ ]:
def fib(n):
    if n <= 1:
        return n
    else:
        return fib(n-1) + fib(n-2)

n = int(input("Enter number of terms: "))
for i in range(n):
    print(fib(i))

Enter number of terms: 23
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711

factorial using recursion

In [ ]:
def factorial(n):
  if n==0 or n==1:
    return 1
  else:
    return n*factorial(n-1)
n=int(input("enter a number:"))
print(factorial(n))

enter a number:20
2432902008176640000

Body mass index

In [ ]:
weight=float(input("enter weight in kg:"))
height=float(input("enter height in meters:"))
bmi=weight/(height**2)
print("bmi:",bmi)
if bmi <= 18.5:
 print("You are underweight.")
elif 18.5 < bmi <= 24.9:
 print("Your weight is normal.")
elif 25 < bmi <= 29.29:
 print("You are overweight.")
else:
 print("You are obese.")

enter weight in kg:56
enter height in meters:1.707
bmi: 19.21856623318504
Your weight is normal.

log value

In [ ]:
import math
number=float(input("enter a number:"))
if number<=0:
  print("enter positive number")
else:
  log_number=math.log(number)
  print(log_number)

enter a number:23
3.1354942159291497

cube sum of first n natural numbers

In [ ]:
n = int(input("Enter a number: "))
cube_sum = 0
for i in range(1, n+1):
    cube_sum += i**3
print("Cube sum of first", n, "natural numbers is:", cube_sum)

Enter a number: 3
Cube sum of first 3 natural numbers is: 36

Sum of array

In [ ]:
arr = [1,2,3]
ans = sum(arr)
print('Sum of the array is ', ans)

Sum of the array is  6

Largest element in an array

In [ ]:
arr = [10, 25, 7, 89, 56]
largest = arr[0]
for num in arr:
    if num > largest:
        largest = num
print("Largest element in the array is:", largest)

Largest element in the array is: 89

array rotation

Enter array elements1 2 3 4 5
Enter no.of rotations:3
[4, 5, 1, 2, 3]

Split the array and add the first part to the end

In [ ]:
arr = list(map(int, input("Enter array elements separated by space: ").split()))
n = int(input("Enter number of elements to split: "))
arr = arr[n:] + arr[:n]
print("Array after split and adding first part to end:", arr)

Enter array elements separated by space: 1 2 3 4 5 6 7 8
Enter number of elements to split: 5
Array after split and adding first part to end: [6, 7, 8, 1, 2, 3, 4, 5]

Program to check if given array is Monotonic.

check given arry is monomatic

In [ ]:
arr = list(map(int, input("Enter array elements separated by space: ").split()))
if arr==sorted(arr) or arr==sorted(arr,reverse=True):
  print("monotonic")
else:
  print("not monomatic")
arr = list(map(int, input("Enter array elements separated by space: ").split()))
if arr==sorted(arr) or arr==sorted(arr,reverse=True):
  print("monomatic")
else:
  print("not monotonic")

Enter array elements separated by space: 1 2 3 4 5
monomatic
Enter array elements separated by space: 2 3 43 5
not monomatic

add two matrices

In [ ]:
rows=int(input("enter number of rows:"))
columns=int(input("enter number of columns:"))
print("Enter elements of first matrix:")
matrice1=[list(map(int,input().split())) for _ in range(rows)]
print("Enter elements of second matrix:")
matrice2=[list(map(int,input().split())) for _ in range(rows)]
result= [[matrice1[i][j]+matrice2[i][j] for j in range(columns)] for i in range(rows)]
print("sum of matrices:")
for row in result:
  print(row)

enter number of rows:2
enter number of columns:3
Enter elements of first matrix:
1 2 3
4 5 6
Enter elements of second matrix:
2 3 4
5 6 7
sum of matrices:
[3, 5, 7]
[9, 11, 13]

Multiplication of two matrices

In [ ]:
rows1 = int(input("Enter number of rows for first matrix: "))
cols1 = int(input("Enter number of columns for first matrix: "))
print("Enter elements of first matrix:")
matrix1 = [list(map(int, input().split())) for _ in range(rows1)]

rows2 = int(input("Enter number of rows for second matrix: "))
cols2 = int(input("Enter number of columns for second matrix: "))
print("Enter elements of second matrix:")
matrix2 = [list(map(int, input().split())) for _ in range(rows2)]

if cols1 != rows2:
    print("Matrix multiplication not possible")
else:
  result = [[sum(matrix1[i][k] * matrix2[k][j] for k in range(cols1)) for j in range(cols2)] for i in range(rows1)]
  print("product of matrices:")
  for row in result:
     print(*row)

Enter number of rows for first matrix: 2
Enter number of columns for first matrix: 3
Enter elements of first matrix:
1 2 3
4 5 6
Enter number of rows for second matrix: 3
Enter number of columns for second matrix: 4
Enter elements of second matrix:
1 2 3 4
2 3 4 5
3 4 5 6
product of matrices:
14 20 26 32
32 47 62 77

TRANSPOSE OF A MATRIX

In [ ]:
rows = int(input("Enter number of rows: "))
cols = int(input("Enter number of columns: "))
print("Enter matrix elements:")
matrix = [list(map(int, input().split())) for _ in range(rows)]
transpose = [[matrix[j][i] for j in range(rows)] for i in range(cols)]
v  print("Transpose of the matrix:")
for row in transpose:
    print(*row)

Enter number of rows: 2
Enter number of columns: 3
Enter matrix elements:
1 2 3
4 5 6
Transpose of the matrix:
1 4
2 5
3 6

sorting the words in alphabetical order

In [ ]:
words = input("Enter words separated by space: ").split()
words.sort()
print("the sorted words are:",words)

Enter words separated by space: dhana Dhana Madhuri Kamakshi
the sorted words are: ['Dhana', 'Kamakshi', 'Madhuri', 'dhana']

Remove punctuations from a string

In [ ]:
import string
text = input("Enter a string: ")
result = "".join(char for char in text if char not in string.punctuation)
print("String without punctuation:", result)

Enter a string: *m&a(d^h+u$r?i
String without punctuation: madhuri

disarium number

In [ ]:
num = int(input("Enter a number: "))
s = str(num)
total = 0
for i in range(len(s)):
    total += int(s[i]) ** (i + 1)

if total == num:
    print(num, "is a Disarium Number")
else:
    print(num, "is not a Disarium Number")
num = int(input("Enter a number: "))
s = str(num)
total = 0
for i in range(len(s)):
    total += int(s[i]) ** (i + 1)

if total == num:
    print(num, "is a Disarium Number")
else:
    print(num, "is not a Disarium Number")

Enter a number: 20
20 is not a Disarium Number
Enter a number: 89
89 is a Disarium Number

disarium number from 1 to 100

In [ ]:
for num in range(1,100):
  s = str(num)
  total = 0
  for i in range(len(s)):
      total += int(s[i]) ** (i + 1)

  if total == num:
      print(num)

1
2
3
4
5
6
7
8
9
89

Happy Number

In [ ]:
num = int(input("Enter a number: "))
n = num
seen = set()

while n != 1 and n not in seen:
    seen.add(n)
    next_n = 0
    while n > 0:
        digit = n % 10
        next_n += digit ** 2
        n //= 10
    n = next_n

if n == 1:
    print(num, "is a Happy Number")
else:
    print(num, "is not a Happy Number")

Enter a number: 23
23 is a Happy Number

happy number in a range

In [ ]:
for num in range(1,100):
  n = num
  seen = set()

  while n != 1 and n not in seen:
      seen.add(n)
      next_n = 0
      while n > 0:
          digit = n % 10
          next_n += digit ** 2
          n //= 10
      n = next_n

  if n == 1:
      print(num)

1
7
10
13
19
23
28
31
32
44
49
68
70
79
82
86
91
94
97

Harshad number

In [ ]:
num = int(input("Enter a number: "))
n = num
sum_digits = 0

while n > 0:
    sum_digits += n % 10
    n //= 10

if num % sum_digits == 0:
    print(num, "is a Harshad Number")
else:
    print(num, "is not a Harshad Number")

Enter a number: 18
18 is a Harshad Number

pronic number from 1 to 100

In [ ]:
for n in range(1,101):
  x=int((n)**0.5)
  if x*(x+1)==n:
    print(n)

2
6
12
20
30
42
56
72
90

In [ ]:
import math
num=math.sqrt(90)
print(num)

9.486832980505138

sum of numbers in a list

In [ ]:
n=[1,2,3,4,5,6]
print(sum(n))

21

product of elements in a list

In [ ]:
elements=[1,2,3,4,5]
product=1
for n in elements:
  product*=n
print(product)

120

second largest elements in a list

In [ ]:
numbers=[1,4,5,788,98,34,54,56]
numbers.sort()
print(numbers[-2])

98

print n number of largest numbers

In [ ]:
numbers=[23,43,12,34,56,32,12]
n=3
numbers.sort(reverse=True)
print(numbers[:n])

[56, 43, 34]

print even numbers in a list

In [ ]:
numbers=[23,43,12,34,56,32,12]
for n in numbers:
  if n%2==0:
    print(n)

12
34
56
32
12

odd numbers in a list

In [ ]:
numbers=[23,43,12,34,56,32,12]
for n in numbers:
  if n%2!=0:
    print(n)

23
43

remove empty list from a list

In [ ]:
elements=[1,2,[],3,4,[],[],7,9,10]
result=[]
for n in elements:
  if n!=[]:
    result.append(n)
print(result)

[1, 2, 3, 4, 7, 9, 10]

cloning or copying a list

In [ ]:
list1=[1,2,3,4,5]
list2=list1.copy()
print(list2)
original_list = [1, 2, 3, 4, 5]
cloned_list = list(original_list)
print(cloned_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

count occurance of elements in a list

In [ ]:
list1=[1,2,3,4,1,2,2,4,5,2]
count=list1.count(2)
print(count)

4

print words greaater tha k

In [ ]:
list1=["apple","madhuri","bag","car","mango","grapes"]
result=[]
k=4
for n in list1:
  if len(n)>k:
    result.append(n)
print(result)

['apple', 'madhuri', 'mango', 'grapes']

remving ith character

In [ ]:
text = "Madhuri"
i = 3
new_text = text[:i] + text[i+1:]
print(new_text)

Maduri

 program to split and join a string

In [ ]:
str1="madhuri loves python"
word=str1.split()
print(word)
new_text="-".join(word)
print(new_text)

['madhuri', 'loves', 'python']
madhuri-loves-python

check if a given string is binary string or not.

In [ ]:
string=input("enter a string:")
for ch in string:
  if ch != '0' and ch != '1':
    print("not a binary string")
    break
else:
  print("it is a binary string")

enter a string:0011
it is a binary string

print uncommon words

In [ ]:
str1="apple banana mango"
str2="apple banana orange"
str1=set(str1.split())
str2=set(str2.split())
uncommon=str1.symmetric_difference(str2)
print(uncommon)

{'mango', 'orange'}

 print duplicate characers in a list

In [ ]:
str1="apple banana mango"
duplicates = []
for ch in str1:
    if str1.count(ch) > 1 and ch not in duplicates:
        duplicates.append(ch)
print(duplicates)

['a', 'p', ' ', 'n']

check special characters in a string

In [ ]:
import string
text = input("Enter a string: ")
for char in text:
  if char in string.punctuation:
    print("special character found")
    break
else:
  print("no special character found")
import string
text = input("Enter a string: ")
for char in text:
  if char in string.punctuation:
    print("special character found")
    break
else:
  print("no special character found")

Enter a string: *gsnsg
special character found
Enter a string: madhu
no special character found

extractvunique values in a dict

In [ ]:
dict1={'a': 10,
 'b': 20,
 'c': 30,
 'd': 40,
 'e': 20
}
unique_values = set(dict1.values())
unique_values_list=list(unique_values)
print(unique_values_list)

[40, 10, 20, 30]

sum od dict values

In [ ]:
dict1={'a': 10,
 'b': 20,
 'c': 30,
 'd': 40,
 'e': 20
}
values=list(dict1.values())
sum_digits=sum(values)
print(sum_digits)

120

merging two dictionaries

In [ ]:
dict1={'a': 10,
 'b': 20,
 'c': 30,
 'd': 40,
 'e': 20
}
dict2={'f':50,
       'g':60,
       'h':20

}
dict1.update(dict2)
print(dict1)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 20, 'f': 50, 'g': 60, 'h': 20}

convert key-values list to flat dictionary

In [ ]:
key_values_list = [('a', 1), ('b', 2), ('c', 3), ('d', 4)]
flat_dict = dict(key_values_list)
print(flat_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

insertion at the beginning in OrderedDict

In [ ]:
from collections import OrderedDict
od = OrderedDict([('b', 2), ('c', 3)])
od.update({'a': 1})
od.move_to_end('a', last=False)
print(od)

OrderedDict({'a': 1, 'b': 2, 'c': 3})

to check order of character in string using OrderedDict()

In [ ]:
from collections import OrderedDict
text = "banana"
ordered = OrderedDict.fromkeys(text)
print("Order of characters:", ''.join(ordered))

sort Python Dictionaries by Keys .

In [ ]:
my_dict = {'b': 3, 'a': 1, 'c': 2}
sorted_by_key = dict(sorted(my_dict.items()))
print(sorted_by_key)

{'a': 1, 'b': 3, 'c': 2}

sort Python Dictionaries by Value.

In [ ]:
my_dict = {'b': 3, 'a': 1, 'c': 2}
sorted_by_value = dict(sorted(my_dict.items(), key=lambda x: x[1]))
print(sorted_by_value)

{'a': 1, 'c': 2, 'b': 3}

Write a program that calculates and prints the value according to the given formula:
𝑄 = Square root of 2𝐶𝐷/H
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a commaseparated sequence.
Example
Let us assume the following comma separated input sequence is given to the
program:
100,150,180
The output of the program should be:
18,22,24

In [ ]:
import math

C = 50
H = 30
values = input("Enter comma separated D values: ").split(',')

result = []
for D in values:
    Q = int(math.sqrt((2 * C * int(D)) / H))
    result.append(str(Q))

print(",".join(result))

Enter comma separated D values: 100,150,180
18,22,24

Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional
array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡Y-1.
Example
Suppose the following inputs are given to the program:
3,5
Then, the output of the program should be:
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [ ]:
x, y = map(int, input("Enter X,Y: ").split(','))
matrix = [[i * j for j in range(y)] for i in range(x)]
print(matrix)

Write a program that accepts a comma separated sequence of words as input and
prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world

In [ ]:
words=input("enter the words separated by comma:").split(",")
words.sort()
print(",".join(words))

enter the words separated by comma:madhuri,nandf,dhana,
,dhana,madhuri,nandf

Write a program that accepts a sequence of whitespace separated words as input
and prints the words after removing all duplicate words and sorting them
alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world

In [ ]:
words=input("enter the words separated by space:").split(" ")
unique_words=sorted(set(words))
print(" ".join(unique_words))

enter the words separated by space:madhuri again happy again world happy
again happy madhuri world

count the letters and digits

In [ ]:
sentence=input("enter the sentence:")
letters=0
digits=0
for char in sentence:
  if char.isalpha():
    letters+=1
  if char.isdigit():
    digits+=1
print("letters:",letters)
print("digits:",digits)

enter the sentence:madhuri hello 12345 !!
letters: 12
digits: 5

A website requires the users to input username and password to register. Write a
program to check the validity of password input by users. Following are the criteria
for checking the password:
1. At least 1 letter between [a-z]
2. At least 1 number between [0-9]
1. At least 1 letter between [A-Z]
3. At least 1 character from [$#@]
4. Minimum length of transaction password: 6
5. Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will
check them according to the above criteria. Passwords that match the criteria are to
be printed, each separated by a comma.
Example
If the following passwords are given as input to the program:
ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:
ABd1234@1

In [ ]:

import re

passwords = input("Enter comma-separated passwords: ").split(',')
valid = []

for pwd in passwords:
    pwd = pwd.strip()  # remove spaces
    if (6 <= len(pwd) <= 12 and
        re.search("[a-z]", pwd) and
        re.search("[A-Z]", pwd) and
        re.search("[0-9]", pwd) and
        re.search("[$#@]", pwd)):
        valid.append(pwd)

print(",".join(valid))

Enter comma-separated passwords: Abfc12@#,hfgjgh,4365u,#$
Abfc12@#

Write a program to compute the frequency of the words from the input. The output
should output after sorting the key alphanumerically. Suppose the following input is
supplied to the program:
New to Python or choosing between Python 2 and Python 3? Read Python 2 or
Python 3.
Then, the output should be:
2:2
3.:1
3?:1
New:1
Python:5
Read:1
and:1
between:1
choosing:1
or:2
to:1

In [ ]:
from collections import Counter
text = input("Enter text: ").split()
freq = Counter(text)
for word in sorted(freq.keys()):
    print(f"{word}:{freq[word]}")

Enter text: madhuri 1 2 3 4 5 2 3 4 5 madhuri madhuri dhana python
1:1
2:2
3:2
4:2
5:2
dhana:1
madhuri:3
python:1

Please write a program to generate all sentences where subject is in ["I", "You"] and
verb is in ["Play", "Love"] and the object is in ["Hockey","Football"].

In [ ]:
subjects = ["I", "You"]
verbs = ["Play", "Love"]
objects = ["Hockey", "Football"]
sentences = []
for sub in subjects:
 for vrb in verbs:
  for obj in objects:
    sentence = f"{sub} {vrb} {obj}."
    sentences.append(sentence)
for sentence in sentences:
 print(sentence)

I Play Hockey.
I Play Football.
I Love Hockey.
I Love Football.
You Play Hockey.
You Play Football.
You Love Hockey.
You Love Football.

Please write a program to compress and decompress the string "hello world!hello
world!hello world!hello world!".

In [ ]:
import zlib
string = "hello world!hello world!hello world!hello world!"
compressed_string = zlib.compress(string.encode())
decompressed_string = zlib.decompress(compressed_string).decode()
print("Original String:", string)
print("Compressed String:", compressed_string)
print("Decompressed String:", decompressed_string)

Original String: hello world!hello world!hello world!hello world!
Compressed String: b'x\x9c\xcbH\xcd\xc9\xc9W(\xcf/\xcaIQ\xcc \x82\r\x00\xbd[\x11\xf5'
Decompressed String: hello world!hello world!hello world!hello world!

Write a function that stutters a word as if someone is struggling to read it. The first
two letters are repeated twice with an ellipsis ... and space after each, and then the
word is pronounced with a question mark ?.
Examples
stutter("incredible") ➞ "in... in... incredible?"
stutter("enthusiastic") ➞ "en... en... enthusiastic?"
stutter("outstanding") ➞ "ou... ou... outstanding?"
Hint :- Assume all input is in lower case and at least two characters long

In [ ]:
def stutter(word):
 if len(word) < 2:
  return "Word must be at least two characters long."
 stuttered_word = f"{word[:2]}... {word[:2]}... {word}?"
 return stuttered_word
print(stutter("incredible"))
print(stutter("enthusiastic"))
print(stutter("outstanding"))

in... in... incredible?
en... en... enthusiastic?
ou... ou... outstanding?

Please write a binary search function which searches an item in a sorted list. The
function should return the index of element to be searched in the list.

In [ ]:
def binary_search(arr, target):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == target:
            return mid
        elif arr[mid] < target:
            low = mid + 1
        else:
            high = mid - 1
    return -1
my_list = [1, 3, 5, 7, 9]
item = 5
print(binary_search(my_list, item))

2

Please write a program using generator to print the numbers which can be divisible
by 5 and 7 between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

In [ ]:
def divisible_by_5_and_7(n):
  for i in range(n+1):
    if i%5==0 and i%7==0:
      yield i
n=int(input("Enter a number:"))
print(",".join(str(num) for num in divisible_by_5_and_7(n)))

Enter a number:100
0,35,70

Please write a program using generator to print the even numbers between 0 and n in
comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [ ]:
def even_number(n):
  for i in range(n+1):
    if i%2==0 :
      yield i
n=int(input("Enter a number:"))
print(",".join(str(num) for num in even_number(n)))

Enter a number:100
0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

fibonacci series using list comprehension

In [ ]:
n = int(input("Enter n: "))
fib = [0, 1]
[fib.append(fib[-1] + fib[-2]) for _ in range(2, n)]
print(fib[:n])

Enter n: 12
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

Assuming that we have some email addresses in the
"username@companyname.com (mailto:username@companyname.com)" format,
please write program to print the user name of a given email address. Both user
names and company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com (mailto:john@google.com)
Then, the output of the program should be:
john

In [ ]:
def get_username(email):
    return email.split('@')[0]
email = input("Enter email: ")
print(get_username(email))

Enter email: madhuri@gmail.com
madhuri

Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place. Examples radians_to_degrees(1) ➞ 57.3 radians_to_degrees(20) ➞ 1145.9 radians_to_degrees(50) ➞ 2864.8

In [ ]:
import math
def radians_to_degrees(radians):
    degrees = radians * (180 / math.pi)
    return round(degrees, 1)
print(radians_to_degrees(1))
print(radians_to_degrees(20))
print(radians_to_degrees(50))

57.3
1145.9
2864.8

In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2
elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a
Curzon number.
Given a non-negative integer num, implement a function that returns True if num is a
Curzon number, or False otherwise.
Examples
is_curzon(5) ➞ True
# 2 ** 5 + 1 = 33
# 2 * 5 + 1 = 11
# 33 is a multiple of 11
is_curzon(10) ➞ False
# 2 ** 10 + 1 = 1025
# 2 * 10 + 1 = 21
# 1025 is not a multiple of 21
is_curzon(14) ➞ True
# 2 ** 14 + 1 = 16385
# 2 * 14 + 1 = 29
# 16385 is a multiple of 29

In [ ]:
def is_curzon(n):
  numerator=2**n+1
  denominator=2*n+1
  return numerator%denominator==0
print(is_curzon(5))
print(is_curzon(10))
print(is_curzon(14))

True
False
True

Given the side length x find the area of a hexagon.
Examples
area_of_hexagon(1) ➞ 2.6
area_of_hexagon(2) ➞ 10.4
area_of_hexagon(3) ➞ 23.4

In [ ]:
import math
def area_of_hexagon(a):
  area=(3*math.sqrt(3)*a**2)/2
  return round(area,1)
print(area_of_hexagon(1))
print(area_of_hexagon(2))
print(area_of_hexagon(3))

2.6
10.4
23.4

Create a function that returns a base-2 (binary) representation of a base-10 (decimal)
string number. To convert is simple: ((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to
the left will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16,
8, 4, 2, 1).
Examples
binary(1) ➞ "1"
# 1*1 = 1
binary(5) ➞ "101"
# 1*1 + 1*4 = 5
binary(10) ➞ 1010
# 1*2 + 1*8 = 10

In [ ]:
def binary(n):
    return bin(int(n))[2:]
print(binary(1))
print(binary(5))
print(binary(10))

1
101
1010

Create a function that takes three arguments a, b, c and returns the sum of the
numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18

In [ ]:
def evenly_divisible(a,b,c):
  total = 0
  for num in range(a, b + 1):
    if num % c == 0:
      total += num
  return total
print(evenly_divisible(1,10,20))
print(evenly_divisible(1,10,2))
print(evenly_divisible(1,10,3))

0
30
18

Create a function that returns True if a given inequality expression is correct and
False otherwise.

In [ ]:
def check_inequality(expression):
  return eval(expression)
print(check_inequality("3 < 7 < 11"))
print(check_inequality("13 > 44 > 33 > 1"))
print(check_inequality("1 < 2 < 6 < 9 > 3"))

True
False
True

Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"
replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"
replace_vowels("shakespeare", "*") ➞ "shkspr*"

In [ ]:
def replace_vowels(string,char):
  vowels="AEIOUaeiou"
  for v in vowels:
    string=string.replace(v,char)
  return string
print(replace_vowels("Iam Madhuri","#"))
print(replace_vowels("DhanaLakshmi","@"))

##m M#dh#r#
Dh@n@L@kshm@

Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
print(fact(5))
print(fact(3))
print(fact(100))
print(fact(47))

120
6
93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000
258623241511168180642964355153611979969197632389120000000000

Hamming distance is the number of characters that differ between two strings.
To illustrate:
String1: "abcbba"
String2: "abcbda"
Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5
hamming_distance("abcde", "abcde") ➞ 0
hamming_distance("strong", "strung") ➞ 1

In [ ]:
def hamming_distance(str1, str2):
    return sum(ch1 != ch2 for ch1, ch2 in zip(str1, str2))
 print(hamming_distance("abcde", "bcdef"))
print(hamming_distance("abcde", "abcde"))
print(hamming_distance("strong", "strung"))

5
0
1

Create a function that takes a list of non-negative integers and strings and return a
new list without the strings.
Examples
filter_list([1, 2, "a", "b"]) ➞ [1, 2]
filter_list([1, "a", "b", 0, 15]) ➞ [1, 0, 15]
filter_list([1, 2, "aasf", "1", "123", 123]) ➞ [1, 2, 123]

In [ ]:
def filter_list(lst):
    result = []
    for i in lst:
        if type(i) == int:
            result.append(i)
    return result
print(filter_list([1, 2, "a", "b"]))
print(filter_list([1, "a", "b", 0, 15]))
print(filter_list([1, 2, "aasf", "1", "123", 123]))

[1, 2]
[1, 0, 15]
[1, 2, 123]

The "Reverser" takes a string as input and returns that string in reverse order, with
the opposite case.
Examples
reverse("Hello World") ➞ "DLROw OLLEh"
reverse("ReVeRsE") ➞ "eSrEvEr"
reverse("Radar") ➞ "RADAr"

In [ ]:
def reverse(string):
  rev_string=string[::-1].swapcase()
  return rev_string
print(reverse("Hello World"))
print(reverse("ReVeRsE"))
print(reverse("Radar"))

DLROw OLLEh
eSrEvEr
RADAr

You can assign variables from lists like this: lst = [1, 2, 3, 4, 5, 6] first = lst[0] middle = lst[1:-1] last = lst[-1] print(first) ➞ outputs 1 print(middle) ➞ outputs [2, 3, 4, 5] print(last) ➞ outputs 6With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples), where: first ➞ 1 middle ➞ [2, 3, 4, 5] last ➞ 6 Your task is to unpack the list writeyourcodehere into three variables, being

In [ ]:
lst=[1,2,3,4,5,6]
first,*middle,last=lst
print(first)
print(*middle)
print(last)

1
2 3 4 5
6

Write a function that moves all elements of one type to the end of the list.
Examples
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]
Move all the 1s to the end of the array.
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]
move_to_end(["a", "a", "a", "b"], "a") ➞ ["b", "a", "a", "a"]

In [ ]:
def move_to_end(lst,element):
  for _ in range(lst.count(element)):
    lst.remove(element)
    lst.append(element)
  return lst
print( move_to_end([7, 8, 9, 1, 2, 3, 4], 9))
print(move_to_end(["a", "a", "a", "b"], "a") )
print(move_to_end([1, 3, 2, 4, 4, 1], 1))

[7, 8, 1, 2, 3, 4, 9]
['b', 'a', 'a', 'a']
[3, 2, 4, 4, 1, 1]

Create a function that takes a string and returns a string in which each character is
repeated once.
Examples
double_char("String") ➞ "SSttrriinngg"
double_char("Hello World!") ➞ "HHeelllloo WWoorrlldd!!"
double char("1234! ") ➞ "11223344!! "

In [ ]:
def double_char(s):
    return ''.join(ch * 2 for ch in s)
print(double_char("String"))
print(double_char("Hello World!"))
print(double_char("1234! "))

SSttrriinngg
HHeelllloo  WWoorrlldd!!
11223344!!

Create a function that reverses a boolean value and returns the string "boolean
expected" if another variable type is given.
Examples
reverse(True) ➞ False
reverse(False) ➞ True
reverse(0) ➞ "boolean expected"
reverse(None) ➞ "boolean expected"

In [ ]:
def reverse(value):
    if isinstance(value, bool):
        return not value
    return "boolean expected"
print(reverse(True))
print(reverse(False))
print(reverse(0))
print(reverse(None))

Create a function that returns the thickness (in meters) of a piece of paper after
folding it n number of times. The paper starts off with a thickness of 0.5mm.
Examples
num_layers(1) ➞ "0.001m"
- Paper folded once is 1mm (equal to 0.001m)
num_layers(4) ➞ "0.008m"
- Paper folded 4 times is 8mm (equal to 0.008m)
num_layers(21) ➞ "1048.576m"
- Paper folded 21 times is 1048576mm (equal to 1048.576m)

In [ ]:
def num_layers(n):
    thickness_mm = 0.5 * (2 ** n)
    thickness_m = thickness_mm / 1000
    return f"{thickness_m}m"
print(num_layers(1))
print(num_layers(4))
print(num_layers(21))

0.001m
0.008m
1048.576m

Create a function that takes a single string as argument and returns an ordered list
containing the indices of all capital letters in the string.
Examples
#index_of_caps("eDaBiT") ➞ [1, 3, 5]
#index_of_caps("eQuINoX") ➞ [1, 3, 4, 6]
#index_of_caps("determine") ➞ []
#index_of_caps("STRIKE") ➞ [0, 1, 2, 3, 4, 5]
#index_of_caps("sUn") ➞ [1]

In [ ]:
def index_of_caps(string):
  return [i for i, char in enumerate(string) if char.isupper()]
print(index_of_caps("eDaBiT"))
print(index_of_caps("eQuINoX"))
print(index_of_caps("determine"))

[1, 3, 5]
[1, 3, 4, 6]
[]

Create a function that takes a list of strings and integers, and filters out the list so
that it returns a list of integers only.
Examples
filter_list([1, 2, 3, "a", "b", 4]) ➞ [1, 2, 3, 4]
filter_list(["A", 0, "Edabit", 1729, "Python", 1729]) ➞ [0, 1729]
filter_list(["Nothing", "here"]) ➞ []

In [ ]:
def filter_list(lst):
    result = []
    for i in lst:
        if type(i) == int:
            result.append(i)
    return result
print(filter_list([1, 2, "a", "b"]))
print(filter_list([1, "a", "b", 0, 15]))
print(filter_list([1, 2, "aasf", "1", "123", 123]))
print(filter_list(["Nothing", "here"]))

[1, 2]
[1, 0, 15]
[1, 2, 123]
[]

Given a list of numbers, create a function which returns the list but with each
element's index in the list added to itself. This means you add 0 to the number at
index 0, add 1 to the number at index 1, etc...
add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [ ]:
def add_indexes(lst):
    return [num + i for i, num in enumerate(lst)]
print(add_indexes([0, 0, 0, 0, 0]))
print(add_indexes([1, 2, 3, 4, 5]))
print(add_indexes([5, 4, 3, 2, 1]))

[0, 1, 2, 3, 4]
[1, 3, 5, 7, 9]
[5, 5, 5, 5, 5]

Create a function that takes the height and radius of a cone as arguments and returns
the volume of the cone rounded to the nearest hundredth. See the resources tab for
the formula.
Examples
cone_volume(3, 2) ➞ 12.57
cone_volume(15, 6) ➞ 565.49
cone_volume(18, 0) ➞ 0

In [ ]:
import math
def cone_volume(height, radius):
 if radius == 0:
  return 0
 volume = (1/3) * math.pi * (radius**2) * height
 return round(volume, 2)
print(cone_volume(3, 2))
print(cone_volume(15, 6))

12.57
565.49

This Triangular Number Sequence is generated from a pattern of dots that form a
triangle. The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the
third one has 6 dots and so on.
Write a function that gives the number of dots with its corresponding triangle number
of the sequence.
Examples
triangle(1) ➞ 1
triangle(6) ➞ 21
triangle(215) ➞ 23220

In [ ]:
def triangle(n):
  if n<1:
    return 0
  else:
    return n*(n+1)//2
print(triangle(1))
print(triangle(5))
print(triangle(6))
print(triangle(215))

1
15
21
23220

Create a function that takes a list of numbers between 1 and 10 (excluding one
number) and returns the missing number.
Examples
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [ ]:
def missing_num(lst):
  total_sum=sum(range(1,11))
  given_sum=sum(lst)
  missing=total_sum-given_sum
  return missing
print(missing_num([1,2,3,4,5,6,8,9,10]))
print(missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]))

7
10

Write a function that takes a list and a number as arguments. Add the number to the
end of the list, then remove the first element of the list. The function should then
return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ "No list has been selected"

In [ ]:
def next_in_line(lst, num):
 if lst:
  lst.pop(0)
  lst.append(num)
  return lst
 else:
  return "No list has been selecte"
print(next_in_line([5, 6, 7, 8, 9], 1))
print(next_in_line([7, 6, 3, 23, 17], 10))

[6, 7, 8, 9, 1]
[6, 3, 23, 17, 10]

Create the function that takes a list of dictionaries and returns the sum of people's
budgets.
Examples
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 23000 },
{ 'name': 'Steve', 'age': 32, 'budget': 40000 },
{ 'name': 'Martin', 'age': 16, 'budget': 2700 }
]) ➞ 65700
get_budgets([
{ 'name': 'John', 'age': 21, 'budget': 29000 },
{ 'name': 'Steve', 'age': 32, 'budget': 32000 },
{ 'name': 'Martin', 'age': 16, 'budget': 1600 }
]) ➞ 62600

In [ ]:
def get_budgets(lst):
 total_budget = sum(person['budget'] for person in lst)
 return total_budget
budgets1 = [
 {'name': 'John', 'age': 21, 'budget': 23000},
 {'name': 'Steve', 'age': 32, 'budget': 40000},
 {'name': 'Martin', 'age': 16, 'budget': 2700}
]
budgets2 = [
 {'name': 'John', 'age': 21, 'budget': 29000},
 {'name': 'Steve', 'age': 32, 'budget': 32000},
 {'name': 'Martin', 'age': 16, 'budget': 1600}
]
print(get_budgets(budgets1))
print(get_budgets(budgets2))

65700
62600

Create a function that takes a string and returns a string with its letters in
alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"
alphabet_soup("edabit") ➞ "abdeit"
alphabet_soup("hacker") ➞ "acehkr"
alphabet_soup("geek") ➞ "eegk"
alphabet_soup("javascript") ➞ "aacijprstv"

In [ ]:
def sorted_string(string):
  return ''.join(sorted(string))
print(sorted_string('hello'))
print(sorted_string('madhuri'))
print(sorted_string('dhana-lakshmi'))

ehllo
adhimru
-aaadhhiklmns

Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded
monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r,
and the number of compounding periods per year n. The function returns the value at
the end of term rounded to the nearest cent.
For the example:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly
compounding there are 12 periods per year. Compounding can also be done
annually, quarterly, weekly, or daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [ ]:
def compound_interest(p,t,r,n):
  a = p * (1 + (r / n)) ** (n * t)
  return round(a,2)
print(compound_interest(10000, 10, 0.06, 12))
print(compound_interest(100, 1, 0.05, 1))
print(compound_interest(3500, 15, 0.1, 4))
print(compound_interest(100000, 20, 0.15, 365))

18193.97
105.0
15399.26
2007316.26

Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]
return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [ ]:
def returns_only_integers(lst):
  result=[]
  for i in lst:
    if type(i)==int:
      result.append(i)
  return result
print(returns_only_integers([9, 2, "space", "car", "lion", 16]))
print(returns_only_integers(["hello", 81, "basketball", 123, "fox"]))

[9, 2, 16]
[81, 123]

Create a function that takes three parameters where:
- x is the start of the range (inclusive).
- y is the end of the range (inclusive).
- n is the divisor to be checked against.
Return an ordered list with numbers in the range that are divisible by the third
parameter n.
list_operation(1, 10, 3) ➞ [3, 6, 9]
list_operation(7, 9, 2) ➞ [8]
list_operation(15, 20, 7) ➞ []

In [ ]:
def list_operation(x,y,n):
  return [num for num in range(x,y+1) if num%n==0]
print(list_operation(1,10,3))
print(list_operation(7,9,2))
print(list_operation(15,20,7))

[3, 6, 9]
[8]
[]

Create a function that takes in two lists and returns True if the second list follows the
first list by one element, and False otherwise. In other words, determine if the second
list is the first list shifted to the right by 1.
Examples
simon_says([1, 2], [5, 1]) ➞ True
simon_says([1, 2], [5, 5]) ➞ False
simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]) ➞ True
simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]) ➞ False
Notes:
- Both input lists will be of the same length, and will have a minimum length of 2.
- The values of the 0-indexed element in the second list and the n-1th indexed
element in the first list do not matter.

In [ ]:
def simon_says(lst1, lst2):
    if len(lst1) == len(lst2) and len(lst1) >= 2:
        return lst1[:-1] == lst2[1:]
    return False
print(simon_says([1, 2], [5, 1]))
print(simon_says([1, 2], [5, 5]))
print(simon_says([1, 2, 3, 4, 5], [0, 1, 2, 3, 4]))
print(simon_says([1, 2, 3, 4, 5], [5, 5, 1, 2, 3]))

True
False
True
False

A group of friends have decided to start a secret society. The name will be the first
letter of each of their names, sorted in alphabetical order. Create a function that takes
in a list of names and returns the name of the secret society.
Examples
society_name(["Adam", "Sarah", "Malcolm"]) ➞ "AMS"
society_name(["Harry", "Newt", "Luna", "Cho"]) ➞ "CHLN"
society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"])

In [ ]:
def society_name(names):
    return ''.join(sorted(name[0] for name in names))
print(society_name(["Adam", "Sarah", "Malcolm"]))
print(society_name(["Harry", "Newt", "Luna", "Cho"]))
print(society_name(["Phoebe", "Chandler", "Rachel", "Ross", "Monica", "Joey"]))

AMS
CHLN
CJMPRR

An isogram is a word that has no duplicate letters. Create a function that takes a
string and returns either True or False depending on whether or not it's an "isogram".
Examples
is_isogram("Algorism") ➞ True
is_isogram("PasSword") ➞ False
- Not case sensitive.
is_isogram("Consecutive") ➞ False
Notes
Ignore letter case (should not be case sensitive).
All test cases contain valid one word strings.

In [ ]:
def is_isogram(word):
    word = word.lower()
    return len(word) == len(set(word))
print(is_isogram("Algorism"))
print(is_isogram("PasSword"))
print(is_isogram("Consecutive"))

True
False
False

Create a function that takes a string and returns True or False, depending on whether
the characters are in order or not.
Examples
is_in_order("abc") ➞ True
is_in_order("edabit") ➞ False
is_in_order("123") ➞ True
is_in_order("xyzz") ➞ True

In [ ]:
def is_in_order(string):
  return string==''.join(sorted(string))
print(is_in_order("abc"))
print(is_in_order("edabit"))
print(is_in_order("123"))
print(is_in_order("xyzz"))

True
False
True
True

Create a function that takes a number as an argument and returns True or False
depending on whether the number is symmetrical or not. A number is symmetrical
when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(num):
  num=str(num)
  return num==num[::-1]
print(is_symmetrical(7227))
print(is_symmetrical(12567))
print(is_symmetrical(44444444))
print(is_symmetrical(9939))
print(is_symmetrical(1112111))

True
False
True
False
True

Given a string of numbers separated by a comma and space, return the product of
the numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [ ]:
def multiply_nums(s):
    nums = map(int, s.split(", "))
    product = 1
    for n in nums:
        product *= n
    return product
print(multiply_nums("2, 3"))
print(multiply_nums("1, 2, 3, 4"))
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer

In [ ]:
def square_digits(num):
    return int(''.join(str(int(d)**2) for d in str(num)))
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [ ]:
def remove_duplicates(lst):
  new_list=sorted(set(lst))
  return new_list
print(remove_duplicates([5,8,7,9,10,15]))
print(remove_duplicates([3,3,3,2,1]))
print(remove_duplicates([4,4,4,4,4,4]))

[5, 7, 8, 9, 10, 15]
[1, 2, 3]
[4]

Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
The mean of all digits is the sum of digits / how many digits there are (e.g. mean
of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
The mean will always be an integer.

In [ ]:
def mean(num):
    digits = [int(d) for d in str(num)]
    return sum(digits) // len(digits)
print(mean(42))
print(mean(12345))
print(mean(666))

3
3
6

Create a function that takes an integer and returns a list from 1 to the given number,
where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.

In [ ]:
def amplify(num):
  return [n*10 if n%4==0 else n for n in range(1,num+1)]
print(amplify(4))
print(amplify(3))
print(amplify(40))

[1, 2, 3, 40]
[1, 2, 3]
[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25, 26, 27, 280, 29, 30, 31, 320, 33, 34, 35, 360, 37, 38, 39, 400]

Create a function that takes a list of numbers and return the number that's unique

In [ ]:
def unique(lst):
    return [i for i in lst if lst.count(i) == 1]

print(unique([1,2,3,3,2]))
print(unique([1,2,3,3,4,4]))

[1]
[1, 2]

Create a function that takes a list of strings and return a list, sorted from shortest to
longest.
Examples
sort_by_length(["Google", "Apple", "Microsoft"]) ➞ ["Apple", "Google", "Microsoft"]
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]) ➞ ["Raphael",
"Leonardo", "Donatello", "Michelangelo"]
sort_by_length(["Turing", "Einstein", "Jung"]) ➞ ["Jung", "Turing", "Einstein"]

In [ ]:
def sort_by_length(lst):
  return sorted(lst,key=len)
print(sort_by_length(["Apple","Google","Butterfly"]))
print(sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"]))
print(sort_by_length(["Turing", "Einstein", "Jung"]))

['Apple', 'Google', 'Butterfly']
['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']
['Jung', 'Turing', 'Einstein']

Create a function that validates whether three given integers form a Pythagorean
triplet. The sum of the squares of the two smallest integers must equal the square of
the largest number to be validated.
Examples
is_triplet(3, 4, 5) ➞ True
3² + 4² = 25
5² = 25
is_triplet(13, 5, 12) ➞ True
5² + 12² = 169
13² = 169
is_triplet(1, 2, 3) ➞ False
1² + 2² = 5
3² = 9
Notes
Numbers may not be given in a sorted order.

In [ ]:
def is_triplet(a,b,c):
  a,b,c=sorted([a,b,c])
  d=(a*a)+(b*b)
  if d==(c*c):
    return True
  else:
    return False
print(is_triplet(3,4,5))
print(is_triplet(13,5,12))
print(is_triplet(1,2,3))

True
True
False

Create a function that takes three integer arguments (a, b, c) and returns the amount
of integers which are of equal value.
Examples
equal(3, 4, 3) ➞ 2
equal(1, 1, 1) ➞ 3
equal(3, 4, 1) ➞ 0
Notes
Your function must return 0, 2 or 3.

In [ ]:
def equal(a,b,c):
  if a==b==c:
    return 3
  elif a==b or b==c or c==a:
    return 2
  else:
    return 0
print(equal(3,4,3))
print(equal(1,1,1))
print(equal(3,4,1))

2
3
0

Write a function that converts a dictionary into a list of keys-values tuples.
Examples
dict_to_list({
"D": 1,
"B": 2
"C": 3
}) ➞ [("B", 2), ("C", 3), ("D", 1)]
dict_to_list({
"likes": 2,
"dislikes": 3,
"followers": 10
}) ➞ [("dislikes", 3), ("followers", 10), ("likes", 2)]
Notes
Return the elements in the list in alphabetical order.

In [ ]:
def dict_to_list(d):
  return sorted(d.items())
print(dict_to_list({"D": 1, "B": 2, "C": 3}))
print(dict_to_list({"likes": 2, "dislikes": 3, "followers": 10}))

[('B', 2), ('C', 3), ('D', 1)]

Write a function that creates a dictionary with each (key, value) pair being the (lower
case, upper case) versions of a letter, respectively.
Examples
mapping(["p", "s"]) ➞ { "p": "P", "s": "S" }
mapping(["a", "b", "c"]) ➞ { "a": "A", "b": "B", "c": "C" }
mapping(["a", "v", "y", "z"]) ➞ { "a": "A", "v": "V", "y": "Y", "z": "Z" }
Notes
All of the letters in the input list will always be lowercase.

In [ ]:
def mapping(d):
  return {ch:ch.upper() for ch in d}
print(mapping(["p", "s"]))
print(mapping(["a", "b", "c"]))
print(mapping(["a", "v", "y", "z"]))

{'p': 'P', 's': 'S'}
{'a': 'A', 'b': 'B', 'c': 'C'}
{'a': 'A', 'v': 'V', 'y': 'Y', 'z': 'Z'}

Write a function, that replaces all vowels in a string with a specified vowel.
Examples
vow_replace("apples and bananas", "u") ➞ "upplus und bununus"
vow_replace("cheese casserole", "o") ➞ "chooso cossorolo"
vow_replace("stuffed jalapeno poppers", "e") ➞ "steffed jelepene peppers"
Notes
All words will be lowercase. Y is not considered a vowel.

In [ ]:
def vow_replace(string,vowel):
  vowels='aeiou'
  new_string=''
  for ch in string:
    if ch in vowels:
      new_string+=vowel
    else:
      new_string+=ch
  return new_string
print(vow_replace("apples and bananas", "u"))
print(vow_replace("cheese casserole", "o"))
print(vow_replace("stuffed jalapeno poppers", "e"))

upplus und bununus
chooso cossorolo
steffed jelepene peppers

Create a function that takes a string as input and capitalizes a letter if its ASCII code
is even and returns its lower case version if its ASCII code is odd.
Examples
ascii_capitalize("to be or not to be!") ➞ "To Be oR NoT To Be!"
ascii_capitalize("THE LITTLE MERMAID") ➞ "THe LiTTLe meRmaiD"
ascii_capitalize("Oh what a beautiful morning.") ➞ "oH wHaT a BeauTiFuL
moRNiNg."

In [ ]:
def ascii_capitalize(input_str):
 result = ""

 for char in input_str:
  if ord(char) % 2 == 0:
    result += char.upper()
  else:
    result += char.lower()
 return result
print(ascii_capitalize("to be or not to be!"))
print(ascii_capitalize("THE LITTLE MERMAID"))
print(ascii_capitalize("Oh what a beautiful morning."))

To Be oR NoT To Be!
THe LiTTLe meRmaiD
oH wHaT a BeauTiFuL moRNiNg.

Addition using Lambda Function

In [ ]:
f=lambda a,b:a+b
print(f(3,7))

10

Factorial using Lambda Function

In [ ]:
f=lambda n: 1 if n==0 else n*f(n-1)
print(f(5))

120

DEfault Arguements

In [ ]:
def add(a,b,c=5):
  return a+b+c
add(2,3)

10

check the number prime or not

In [ ]:
num=int(input("Enter a number:"))
for i in range(2,num):
  if num%i==0:
    print("not a prime")
    break
else:
  print(f"{num} is a prime")

Enter a number:47
47 is a prime

print the given number is odd or even

In [ ]:
num=int(input("Enter a number:"))
if num%2==0:
  print(f"{num} is a even number")
else:
  print(f"{num} is a odd number")

Enter a number:5
5 is a odd number

check the number is positive or negative

In [ ]:
num=float(input("Enter a number:"))
if num<0:
  print(f"{num} is a negative number")
elif num==0:
  print(f"{num} is zero")
else:
  print(f"{num} is a positive number")

Enter a number:-1.2
-1.2 is a negative number

In [ ]:
s=int(input("enter a number:"))
for i in range(1,s+1):
  print("* "*i)
  i+=1

enter a number:5
*
* *
* * *
* * * *
* * * * *

In [ ]:
s=int(input("Enter a number:"))
for i in range(1,s+1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()
  i+=1

Enter a number:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
def tri(n):
  num=1
  for i in range(0,n):
    for j in range(0,i+1):
      print(num,end=" ")
      num+=1
    print()
tri(5)

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
def character(n):
  p=65
  for i in range(n):
    for j in range(i+1):
      ch=chr(p)
      print(ch,end=" ")
    p+=1
    print()
character(5)

A
B B
C C C
D D D D
E E E E E

In [ ]:
def character(n):
  p=65
  for i in range(n):
    for j in range(i,n):
      ch=chr(p)
      print(ch,end=" ")
    p+=1
    print()
character(5)

A A A A A
B B B B
C C C
D D
E

In [ ]:
def character(n):
  p=65
  for i in range(n):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i+1):
      print(chr(p),end=" ")
    for j in range(i):
      print(chr(p),end=" ")
    p+=1
    print()
character(5)

          A
        B B B
      C C C C C
    D D D D D D D
  E E E E E E E E E

In [ ]:
def alphabet(n):
  p=65
  for i in range(n):
    for j in range(i+1):
      ch=chr(p)

      print(ch,end=" ")
      p+=1
    print()
alphabet(5)

A
B C
D E F
G H I J
K L M N O

In [ ]:
def alphabet(n):
  p=65
  for i in range(n):
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n):
      print(chr(p),end=" ")
      p+=1
    print()
alphabet(5)

  A B C D E
    F G H I
      J K L
        M N
          O

In [ ]:
def alphabet(n):
  p=65
  for i in range(n):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i+1):
      print(chr(p),end=" ")
      p+=1
    print()
alphabet(5)

          A
        B C
      D E F
    G H I J
  K L M N O

In [ ]:
def alphabet(n):
  p=65
  for i in range(n):
    for j in range(i,n):
      print(" ",end="")
    for j in range(i+1):
      print(chr(p),end=" ")
      p+=1
    p=65
    print()
alphabet(5)

     A
    A B
   A B C
  A B C D
 A B C D E

In [ ]:
def alphabet(n):
  p=65
  for i in range(n):
    for j in range(i,n):
      print(" ",end="")
    for j in range(i+1):
      print(chr(p),end=" ")
      p+=1
    print()
alphabet(5)

     A
    B C
   D E F
  G H I J
 K L M N O

In [ ]:
def pyramid(n):
  for i in range(n):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i+1):
      print("*",end=" ")
    for j in range(i):
      print("*",end=" ")
      i+=1
    print()
pyramid(5)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
def pyramid(n):
  for i in range(n):
    for j in range(i,n):
      print(" ",end="")
    for j in range(i+1):
      print("*",end=" ")

    print()
pyramid(5)

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
def sandglass(n):
  for i in range(n):
    for j in range(i+1):
      print(" ",end="")
    for j in range(i,n):
      print("*",end=" ")
    print()
  for i in range(n):
    for j in range(i,n):
      print(" ",end="")
    for j in range(i+1):
      print("*",end=" ")
    print()
sandglass(5)

 * * * * *
  * * * *
   * * *
    * *
     *
     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
def butterfly(n):
  for i in range(n):
    for j in range(i+1):
      print("*",end=" ")
    for j in range(i,n-1):
      print(" ",end=" ")
    for j in range(i,n-1):
      print(" ",end=" ")
    for j in range(i+1):
      print("*",end=" ")
    print()
  for i in range(n):
    for j in range(i,n-1):
      print("*",end=" ")
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n-1):
      print("*",end=" ")
    print()
butterfly(5)

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [ ]:
def pyramid(n):
  for i in range(n):
    for j in range(i+1):
      print(" ",end="")
    for j in range(i,n):
      print("*",end=" ")

    print()
pyramid(5)

 * * * * *
  * * * *
   * * *
    * *
     *

In [ ]:
def hill_triangle(n):

  for i in range(n):
    num=1
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i):
      print(num,end=" ")
      num+=1
    for j in range(i+1):
      print(num,end=" ")
      num+=1
    print()
hill_triangle(5)

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [ ]:
n = 5
for i in range(1, n + 1):
    print("  " * (i - 1), end="")
    for j in range(n - i + 1, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [ ]:
def diamond(n):
  p=1
  for i in range(n-1):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i+1):
      print(p,end=" ")
    for j in range(i):
      print(p,end=" ")
    p+=1
    print()
  for i in range(n):
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n):
      print(p,end=" ")
    for j in range(i+1,n):
      print(p,end=" ")
    p+=1
    print()
diamond(5)

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [ ]:
def diamond(n):
  p=1
  for i in range(n-1):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i+1):
      print(p,end=" ")
    for j in range(i):
      print(p,end=" ")
    p+=1
    print()
  for i in range(n):
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n):
      print(p,end=" ")
    for j in range(i+1,n):
      print(p,end=" ")
    p-=1
    print()
diamond(5)

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [ ]:
def character(n):
  p=65
  for i in range(n):
    for j in range(i+1):
      ch=chr(p)
      print(ch,end=" ")
    p+=2
    print()
character(5)

A
C C
E E E
G G G G
I I I I I

In [ ]:
def z_o(n):
  for i in range(n):
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n):
      if i%2==0:
        print("z",end=' ')
      else:
        print("o",end=" ")
    for j in range(i,n-1):
      if i%2==0:
        print("z",end=' ')
      else:
        print("o",end=" ")
    print()
z_o(5)

  z z z z z z z z z
    o o o o o o o
      z z z z z
        o o o
          z

In [ ]:
def hill_triangle(n):

  for i in range(n):
    num=65
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i):
      print(chr(num),end=" ")
      num+=1
    for j in range(i+1):
      print(chr(num),end=" ")
      num+=1
    print()
hill_triangle(5)

          A
        A B C
      A B C D E
    A B C D E F G
  A B C D E F G H I

In [ ]:
def hill_triangle(n):
  num=65
  for i in range(n):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i):
      print(chr(num),end=" ")
      num+=1
    for j in range(i+1):
      print(chr(num),end=" ")
      num+=1
    print()
hill_triangle(5)

          A
        B C D
      E F G H I
    J K L M N O P
  Q R S T U V W X Y

In [ ]:
def alphabet(n):

  for i in range(n):
    p=69
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n):
      print(chr(p),end=" ")
      p+=1
    print()
alphabet(5)

  E F G H I
    E F G H
      E F G
        E F
          E

In [ ]:
n = 5
for i in range(1, n + 1):
    print("  " * (i - 1), end="")
    for j in range(n - i, -1, -1):
        print(chr(65 + j), end=" ")
    print()

E D C B A
  D C B A
    C B A
      B A
        A

In [ ]:
def pattern(n):
  k=69
  for i in range(n):
    p=k
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i):
      print(chr(p),end=" ")
      p+=1
    for j in range(i+1):
      print(chr(p),end=" ")
      p+=1
    k-=1
    print()
pattern(5)

          E
        D E F
      C D E F G
    B C D E F G H
  A B C D E F G H I

In [ ]:
def pattern(n):
  k=65
  for i in range(n):
    p=k
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i):
      print(chr(p),end=" ")
      p+=1
    for j in range(i+1):
      print(chr(p),end=" ")
      p-=1
    print()
pattern(5)

          A
        A B A
      A B C B A
    A B C D C B A
  A B C D E D C B A

In [ ]:
def string(st):
  n=len(st)
  p=0
  for i in range(n):
    for j in range(i+1):
      print(st[p],end=" ")
    p+=1
    print()
string("CODER")

C
O O
D D D
E E E E
R R R R R

In [ ]:
def string(st):
  n=len(st)
  p=n-1
  for i in range(n):
    for j in range(i+1):
      print(st[p],end=" ")
    p-=1
    print()
string("CODER")

R
E E
D D D
O O O O
C C C C C

In [ ]:
def string(st):
  n=len(st)
  for i in range(n):
    p=0
    for j in range(i+1):
      print(st[p],end=" ")
      p+=1
    print()
string("CODER")

C
C O
C O D
C O D E
C O D E R

In [ ]:
def string(st):
  n=len(st)
  k=n-1
  for i in range(n):
    p=k
    for j in range(i+1):
      print(" ",end=" ")
    for j in range(i,n):
      print(st[p],end=" ")
      p-=1

    print()
    k-=1
string("CODER")

  R E D O C
    E D O C
      D O C
        O C
          C

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      print("*",end=" ")
    print()
square(5)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      if j==0 or j==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
square(5)

*       *
*       *
*       *
*       *
*       *

In [ ]:
def plus(n):
  for i in range(n):
    for j in range(n):
      if i==n//2 or j==n//2:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
plus(5)

    *
    *
* * * * *
    *
    *

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      if i==j or i+j==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
square(5)

*       *
  *   *
    *
  *   *
*       *

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      if i==0 or i==n-1 or j==0 or j==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
square(5)

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      if j==0 or i==n-1 or i==j:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
square(5)

*
* *
*   *
*     *
* * * * *

In [ ]:
def square(n):
  for i in range(n):
    for j in range(n):
      if i==0 or j==0 or i+j==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
square(5)

* * * * *
*     *
*   *
* *
*

In [ ]:
def triangle(n):
  for i in range(n):
    for j in range(i,n):
      print(" ",end=" ")
    for j in range(i):
      if j==0 or i==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    for j in range(i+1):
      if i==j or i==n-1:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
triangle(5)

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [ ]:
def diamond(n):
  for i in range(n-1):
    for j in range(i,n-1):
      print(" ",end=" ")
    for j in range(i):
      if j==0:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    for j in range(i+1):
      if i==j:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
  for i in range(n):
    for j in range(i):
      print(" ",end=" ")
    for j in range(i,n):
      if j==i:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    for j in range(i,n-1):
      if j==n-2:
        print("*",end=" ")
      else:
        print(" ",end=" ")
    print()
diamond(6)

          *
        *   *
      *       *
    *           *
  *               *
*                   *
  *               *
    *           *
      *       *
        *   *
          *

In [ ]:
num=int(input("Enter a number:"))
str1=str(num)
if str1==str1[::-1]:
  print("palindrome")
else:
  print("not a palindrome")

Enter a number:123
not a palindrome

spy number

In [ ]:
num = int(input("Enter a number: "))
sum_digits = 0
prod_digits = 1

for digit in str(num):
    sum_digits += int(digit)
    prod_digits *= int(digit)

if sum_digits == prod_digits:
    print(num, "is a Spy Number")
else:
    print(num, "is not a Spy Number")

Enter a number: 123
123 is a Spy Number

special number

In [ ]:
num = int(input("Enter a number: "))
sum_digits = 0
prod_digits = 1

for digit in str(num):
    sum_digits += int(digit)
    prod_digits *= int(digit)

if (sum_digits+prod_digits)==num:
    print(num, "is a Special Number")
else:
    print(num, "is not a Special Number")

Enter a number: 59
59 is a Special Number

In [ ]:
harshhad number

In [ ]:
num=int(input("enter a number"))
sum_of=0
for i in  str(num):
  sum_of+=int(i)
if (num%sum_of)==0:
  print(num,"is a harshad number")
else:
  print(num,"is not a harshad number")

enter a number18
18 is a harshad number

duck number

In [ ]:
num = input("Enter a number: ")
if num[0] == '0':
    print(num, "is not a Duck number")
else:
    count_zeros = num.count('0')
    if count_zeros > 0:
        print(num, "is a Duck number with", count_zeros, "zero(s)")
    else:
        print(num, "is not a Duck number")

Enter a number: 1230000
1230000 is a Duck number with 4 zero(s)

Neon Number

In [ ]:
num = int(input("Enter a number: "))
square = num * num
sum_digits = sum(int(digit) for digit in str(square))

if sum_digits == num:
    print(num, "is a Neon Number")
else:
    print(num, "is not a Neon Number")

Enter a number: 9
9 is a Neon Number

In [ ]:
Automorphic number

In [ ]:
num = int(input("Enter a number: "))
square = num * num
if str(square).endswith(str(num)):
    print(num, "is an Automorphic Number")
else:
    print(num, "is not an Automorphic Number")

Enter a number: 25
25 is an Automorphic Number

krishna murthy special number or strong number

In [ ]:
import math
num = int(input("Enter a number: "))
temp = num
sum_fact = 0
while temp > 0:
    digit = temp % 10
    sum_fact += math.factorial(digit)
    temp //= 10

if sum_fact == num:
    print(num, "is a Krishnamurthy Number")
else:
    print(num, "is not a Krishnamurthy Number")

Enter a number: 145
145 is a Krishnamurthy Number

In [ ]:
Factors of a number

In [ ]:
n=int(input("Enter a number:"))
for i in range(1,n+1):
  if n%i==0:
    print(i,end=" ")

Enter a number:22
1 2 11 22

perfect number

In [ ]:
num = int(input("Enter a number: "))
sum_div = 0
for i in range(1, num):
    if num % i == 0:
        sum_div += i
if sum_div == num:
    print(num, "is a Perfect Number")
else:
    print(num, "is not a Perfect Number")

abundant or deficient

In [ ]:
num = int(input("Enter a number: "))
sum_div = 0
for i in range(1, num):
    if num % i == 0:
        sum_div += i
if sum_div > num:
    print(num, "is an Abundant Number")
if sum_div < num:
    print(num, "is a Deficient Number")
num = int(input("Enter a number: "))
sum_div = 0
for i in range(1, num):
    if num % i == 0:
        sum_div += i
if sum_div > num:
    print(num, "is an Abundant Number")
if sum_div < num:
    print(num, "is a Deficient Number")

Enter a number: 12
12 is an Abundant Number
Enter a number: 8
8 is a Deficient Number

pronic number

In [ ]:
num=int(input("Enter a number:"))
x=int((num)**0.5)
if x*(x+1)==num:
  print("it si a pronic number")
else:
  print("not a pronic number")

Enter a number:56
it si a pronic number

sum of numbers

In [ ]:
num=int(input("Enter a number:"))
sum_of=0
for i in range(1,num+1):
  sum_of+=i
print(sum_of)

Enter a number:20
210

9+13+17+........n

In [ ]:
num=int(input("Enter a number:"))
sum_of=0
a=9
for i in range(1,num+1):
  sum_of+=a
  a+=4
print(sum_of)

Enter a number:20
940

2+4+6+8+...n

In [ ]:
num=int(input("Enter a number:"))
sum_of=0
a=2
for i in range(1,num+1):
  sum_of+=a
  a+=2
print(sum_of)

Enter a number:20
420

In [ ]:
1+3+5+.....

In [ ]:
num=int(input("Enter a number:"))
sum_of=0
a=1
for i in range(1,num+1):
  sum_of+=a
  a+=2
print(sum_of)

Enter a number:20
400

10+9+8...

In [ ]:
num=int(input("Enter a number:"))
sum_of=0
a=10
for i in range(1,num+1):
  sum_of+=a
  a+=-1
print(sum_of)

Enter a number:10
55

In [ ]:
x^1+x^2+...n

In [ ]:
x = int(input("Enter x: "))
n = int(input("Enter n: "))
total = 0
for i in range(1, n+1):
    total += x**i
print("Sum =", total)

Enter x: 10
Enter n: 3
Sum = 1110

9!/x + 13!/x + 17!/x + ... N

In [ ]:
from math import factorial

N = int(input("Enter N: "))
X = int(input("Enter X: "))

sum_series = 0
a = 9

for i in range(1, N + 1):
    sum_series += factorial(a) / X
    a += 4

print("Sum of series:", sum_series)

Enter N: 10
Enter X: 2
Sum of series: 5.981112715901029e+55

1³/x + 3³/x + 5³/x + 7³/x + ... N

In [ ]:
N = int(input("Enter N: "))
X = int(input("Enter X: "))

sum_series = 0
a = 1

for i in range(1, N + 1):
    sum_series += (a ** 3) / X
    a += 2

print("Sum of series:", sum_series)

Enter N: 20
Enter X: 2
Sum of series: 159800.0

Series: 2 + 6 + 18 + 54 + ... N

In [ ]:
N = int(input("Enter N: "))

sum_series = 0
a = 2

for i in range(1, N + 1):
    sum_series += a
    a = a * 3

print("Sum of series:", sum_series)

Enter N: 20
Sum of series: 3486784400

2 + 4 + 8 + 16 + ... N

In [ ]:
N = int(input("Enter N: "))

sum_series = 0
a = 2

for i in range(1, N + 1):
    sum_series += a*2
    a = a * 2

print("Sum of series:", sum_series)

Enter N: 20
Sum of series: 4194300

2^x+4^x+8^x

In [ ]:
x = int(input("Enter x: "))
n = int(input("Enter n: "))
sum = 0
a=2
for i in range(1, n+1):
    sum =sum+ a**x
    a+=2
print("Sum =", sum)

Enter x: 2
Enter n: 20
Sum = 11480

oops concepts

In [2]:
class MyClass:
  x = 5
p1 = MyClass()
print(p1.x)

5

The __init__() Method

In [3]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
p1 = Person("John", 36)
print(p1.name)
print(p1.age)

John
36

The __str__() Method

In [4]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

The self Parameter

In [8]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age
  def myfunc(abc):
    print("Hello my name is " + abc.name)
p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [13]:
#Modify Object Properties
p1.age = 40
#Delete Object Properties
del p1.age
#Delete Objects
del p1

In [14]:
#The pass Statement
class Person:
  pass

In [15]:
#Abstraction
from abc import ABC, abstractmethod

# Abstract class
class Payment(ABC):
    @abstractmethod
    def pay(self, amount):
        pass
class CreditCardPayment(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using Credit Card.")
class UpiPayment(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using UPI.")
class CashPayment(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} in Cash.")
p1 = CreditCardPayment()
p2 = UpiPayment()
p3 = CashPayment()

p1.pay(1000)
p2.pay(500)
p3.pay(200)

Paid ₹1000 using Credit Card.
Paid ₹500 using UPI.
Paid ₹200 in Cash.

Class variable

In [16]:
class Student:
    college_name = "Narayana Engineering College"
    def __init__(self, name, roll_no):
        self.name = name
        self.roll_no = roll_no
s1 = Student("Madhuri", 101)
s2 = Student("Anjali", 102)

print(s1.college_name)
print(s2.college_name)
Student.college_name = "NEC Gudur"

print(s1.college_name)
print(s2.college_name)

Narayana Engineering College
Narayana Engineering College
NEC Gudur
NEC Gudur

In [17]:
class Student:
    # Class variable
    college_name = "Narayana Engineering College"

    def __init__(self, name, marks):
        # Instance variables
        self.name = name
        self.marks = marks

    # 1Instance Method
    def display_info(self):
        print(f"Name: {self.name}, Marks: {self.marks}")

    # Class Method
    @classmethod
    def change_college(cls, new_name):
        cls.college_name = new_name
        print(f"College name changed to {cls.college_name}")

    # Static Method
    @staticmethod
    def is_passed(marks):
        return marks >= 40


# Create objects
s1 = Student("Madhuri", 85)
s2 = Student("Anjali", 35)

# Call instance method
s1.display_info()

# Call class method
Student.change_college("NEC Gudur")

# Call static method
print(Student.is_passed(85))
print(Student.is_passed(35))

Name: Madhuri, Marks: 85
College name changed to NEC Gudur
True
False