<a href="https://colab.research.google.com/github/Ravurumadhuri/Ravurumadhuri/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
#Data Types

In [131]:
#int
num=5
print(type(num))
#float
num=0.5
print(type(num))
#string
num=" "
print(type(num))
num=True
print(type(num))
num="String"
print(type(num))
#list
num=[1,2,3]
print(type(num))
#tuple
num=(1,2,3)
print(type(num))
#set
num={1,2,3}
print(type(num))
a=5.6
b=int(a)
print(type(b))
b=5
c=float(b)
print(c)
#complex
k=6
c=complex(b,k)
print(c)
print(type(c))
#bool
a=6>1
print(a)
print(type(a))
a=7<1
print(a)
print(int(a))
#range
a=range(10)
print(type(a))
#dictionary

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'int'>
5.0
(5+6j)
<class 'complex'>
True
<class 'bool'>
False
0
<class 'range'>

In [132]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))
import random

print(random.randrange(1, 10))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>
3

In [133]:
#dictionary
d={1:'apple',2:'banana',3:'mango'}
print(type(d))
print(d[1])
print(d.values())
print(d.keys())
d.get(2)

<class 'dict'>
apple
dict_values(['apple', 'banana', 'mango'])
dict_keys([1, 2, 3])

'banana'

In [134]:
#TypeCasting

In [135]:
#int
x = print(int(1))
y = print(int(5.6))
z = print(int("3"))

1
5
3

In [136]:
#float
a=print(float(3))
a=print(float("5"))
#string
a=print(str(3.0))
a=print(str(6))

3.0
5.0
3.0
6

In [137]:
#operators of Python

In [138]:
#Arithemtic Operators(+,-,*,%,/,**,//)
x=8
y=4
print(x+y)
print(x-y)
print(x*y)
print(x%y)
print(x/y)
print(x**y)
print(x//y)

12
4
32
0
2.0
4096
2

In [139]:
#Assignment Operators(=,+=,-=,*=,%=,/=,//=,**==,&=,|=,^=,>>=,<<==,:=)
x=7
print(x)
x+=3
print(x)
x-=3
print(x)
x*=3
print(x)
x%=3
print(x)
x/=3
print(x)
x//=3
print(x)
x**=3
print(x)
x=3
x&=3
print(x)
print(x)
x|=3
print(x)
x^=3
print(x)
x>>=3
print(x)
x<<=3
print(x)

7
10
7
21
0
0.0
0.0
0.0
3
3
3
0
0
0

In [140]:
#comparison operators(==,!=,>,>=,<,<=)
x=6
y=7
print(x==y)
print(x!=y)
print(x<y)
print(x<=y)
print(x>y)
print(x>=y)

False
True
True
True
False
False

In [141]:
#lgical operators(and,or,not)
x=10
print(x<5 and x<11)
print(x<5 or x<11)
print(not(x<5 and x<11))#It reverse the result

False
True
True

In [142]:
#identity operators(is,is not)
x=7
x=8
print(x is y)
print(x is not y)

False
True

In [143]:
#membership operators(in,not in)
x=[1,2,3]
print(1 in x)
print(2 not in x)

True
False

In [144]:
#bitwise operators(&,|,^,~,<<,>>)
x=3
y=2
print(x&y)
print(x|y)
print(x^y)
print(~x)
print(x<<2)
print(x>>2)

2
3
1
-4
12
0

Strings in python

In [145]:
print("Hello")
print('Hello')
#Quotes Inside Quotes
print("Hii I'm Madhuri")
print("She is called 'Madhuri'")
print('she is called "Madhuri"')
#Assign string to a variable
a = "Hello"
print(a)
#Multiline Strings
a="""Iam Madhuri,
Iam 21 Years Old,
I have completed my Graduation."""
print(a)
#Strings are Arrays
a = "Iam Madhuri"
print(a[3])
print(a[5])
#Looping Through a String
for i in "Madhuri":
  print(i)
#String Length
a="Iam Madhuri"
print(len(a))
#Check string
txt="Iam Madhuri Ravuru"
print("Madhuri" in txt)
#using if
if "Iam" in txt:
  print("Iam in text")
  #using not in
print("Madhuri" not in txt)
#slicing
a="Iam Madhuri "
print(a[2:5])
#Slice From the Start
print(a[:5])
#Slice To the End
print(a[2:])
#negative slicing
print(a[-6:-1])
#Upper Case
print(a.upper())
print(a.lower())
#Remove space
print(a.strip())
#Replace String
print(a.replace("M","H"))
#Split String
print(a.split(" "))
#String Concatenation
a = "Hello"
b = "World"
c = a + b
print(c)
#Python - Format - Strings
#F-Strings
age = 21
txt = f"My name is Madhuri, I am {age}"
print(txt)
price = 59
txt = f"The price is {price} dollars"
print(txt)
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)
txt = f"The price is {20 * 59} dollars"
print(txt)
#Escape Character
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

Hello
Hello
Hii I'm Madhuri
She is called 'Madhuri'
she is called "Madhuri"
Hello
Iam Madhuri,
Iam 21 Years Old,
I have completed my Graduation.

a
M
a
d
h
u
r
i
11
True
Iam in text
False
m M
Iam M
m Madhuri
dhuri
IAM MADHURI
iam madhuri
Iam Madhuri
Iam Hadhuri
['Iam', 'Madhuri', '']
HelloWorld
My name is Madhuri, I am 21
The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars
We are the so-called "Vikings" from the north.

#list

In [146]:
thislist = ["apple", "banana", "cherry"]
print(thislist)
#List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
#List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]
#Access Items
thislist = ["apple", "banana", "cherry"]
print(thislist[1])
#Negative Indexing
list5 = ["apple", "banana", "cherry"]
print(list5[-1])
#Range of Indexes
list6 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list6[2:5])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])
#Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])
#Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")
#Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)
#Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)
#Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)
#insert of items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
#Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)
#Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)
#Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)#removes last item
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)
#Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)
#Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])
#Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]
#List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)
#or
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)
newlist = [x for x in fruits if x != "apple"]
print(newlist)
newlist = [x for x in fruits]
print(newlist)
newlist = [x for x in range(10)]
print(newlist)
newlist = [x for x in range(10) if x < 5]
print(newlist)
newlist = [x.upper() for x in fruits]
print(newlist)
newlist = ['hello' for x in fruits]
print(newlist)
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)#sort the listin descending order
#Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)
#Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)
#copy method
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
#using slice operator
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)
#joining of lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)
#Append list2 into list1:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
  list1.append(x)
print(list1)

['apple', 'banana', 'cherry']
3
banana
cherry
['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
Yes, 'apple' is in the fruits list
['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']
['apple', 'banana', 'watermelon', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'cherry']
['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']
[]
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
['apple', 'banana', 'mango']
['apple', 'banana', 'mango']
['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]
['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']
['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
['Kiwi', 'Orange', 'banana', 'cherry']
['cherry', 'Kiwi', 'Orange', 'banana']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

Tuple

In [147]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)
#tuple length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))
#Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))
#Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))
#access of items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
#negative indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])
#Range of Negative Indexes

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')
3
<class 'tuple'>
<class 'str'>
('abc', 34, True, 40, 'male')
<class 'tuple'>
banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')